[2020-05-11 19:03] gregfenton opened #4 "Incorrect error message?"
At line 22 of https://github.com/abhinaba-ghosh/cypress-react-selector/blob/master/index.js, the error message states:

but I believe that as a user of this plugin we are expected to run `cy.waitForReact()`?  It looks like `waitToLoadReact()` is something being called "under the covers", not what a user of the plugin is expected to do?

[2020-05-11 19:25] gregfenton opened #5 "Accessing "nested" components"
I am using `redux-form` that has a `<Field>` component.  It actually doesn't render the input, instead it offers a `component` property where another component is used to render the input.  This is a common pattern in React, as it is also seen in [Formik's Field element](https://jaredpalmer.com/formik/docs/api/field) and other places.

The issue is that the `<Field>` has a `name` property, and the

[2020-05-11 19:52] bahmutov opened #6 "You might want to try Cypress circleci orb"
https://github.com/abhinaba-ghosh/cypress-react-selector/blob/6aed4f9597fab16b6bf48f69aa55158c84855425/.circleci/config.yml#L19

https://github.com/cypress-io/circleci-orb

[2020-05-11 20:42] abhinaba-ghosh commented on #6
Hi @bahmutov Thanks for the suggestion.  ORB is integrated here https://github.com/abhinaba-ghosh/cypress-react-selector/pull/7

Appreciate if any feedback for https://github.com/cypress-io/cypress-documentation/pull/2771

Many thanks.

[2020-05-11 20:50] abhinaba-ghosh commented on #4
Hi @gregfenton , thanks for the detailed error description. As a user you need to tell the react selector to wait for react to be loaded for below reason:

1. You might be having a legacy application where react is one of the technology if not only. It is possible that you are loading react views in specific user interaction in that case. So, cypress-react-selector needs to understand at which mom

[2020-05-11 21:15] gregfenton commented on #4
Correct, both those examples show `waitForReact()`, but the error message I indicate says `waitToLoadReact()`.

[2020-05-11 21:17] abhinaba-ghosh commented on #5
@gregfenton ,

That's a very good use case.

I really don't know if your components undergo minifications or not when it renders in the UI. You can try something like below:

[code]

Now, you can also make use of Chrome React Dev Tools to actually spy on the component and props. I have given a demo here to show how I am getting the component and props for my sample test cases.

![cy-react](https:/

[2020-05-11 21:21] abhinaba-ghosh commented on #4
@gregfenton That's a typo. Good catch! will be fixed in the next version.

[2020-05-11 21:51] abhinaba-ghosh opened #8 "Next Milestones"
1. Implement ```getProp(propName)``` and ```getCurrentState()``` api
2. Check the feasibility of chainable react queries like:
[code]

[2020-05-11 21:53] #6 closed

[2020-05-12 18:09] gregfenton commented on #5
I built a simple CRA app and an associated Cypress test spec that uses `cy.react()`.

Hopefully people will find some of the info herein useful.  Feel free to borrow or steal into the cypress-react docs or examples however you see fit.

https://github.com/gregfenton/example-cypress-react-selector-formik

One recommendation for the cypress-react-selector doc is to have more than just `{ someBoolean

[2020-05-12 18:33] abhinaba-ghosh commented on #5
Hi @gregfenton , your example looks great and definitely will force me to update the manual. Feel free to raise PRs if you see there is a lack in the documentation, example, or process. Again, I thank you enough for the working example.

[2020-05-15 19:36] #5 closed

[2020-05-19 05:41] abhinaba-ghosh commented on #4
Typo is fixed in version V0.1.6

Closing the ticket.

[2020-05-19 05:41] #4 closed

[2020-05-19 05:42] abhinaba-ghosh commented on #8
Enhancement has been done in V0.1.6

[code]

[2020-05-19 05:42] #8 closed

[2020-06-07 07:53] jansedlon opened #13 "getProps() returns undefiend"
Hello! I'm trying to use function `getProps()` on `GridItem` component which comes from this package [React-grid-layout](https://github.com/STRML/react-grid-layout), however it returns undefined.

My usage looks like this
[code]

[2020-06-07 09:08] abhinaba-ghosh commented on #13
Hi @jansedlon ,

According to the [docs](https://github.com/abhinaba-ghosh/cypress-react-selector#get-react-properties-from-element), ```cy.react``` returns the web element, but to get the react properties you need to use ```cy.gerReact```

[code]

Let me know if this helps! Thanks.

[2020-06-07 09:29] jansedlon commented on #13
@abhinaba-ghosh Ah, you're right! I'm blind, thank you.

[2020-06-07 09:29] #13 closed

[2020-06-07 09:55] abhinaba-ghosh commented on #13
Blind? absolutely not! I think this gives me an opportunity to make the error messages clear. Thanks for pointing out.

[2020-06-16 04:16] laurence-myers opened #19 "Components that render `null` cause `Cannot read property 'nodeType' of undefined`"
This is a rough sketch of a dummy component structure that should demonstrate the issue:

[code]

In my Cypress test, I query the error messages like so:
[code]

However, Cypress fails with the error message `TypeError: Cannot read property 'nodeType' of undefined`.

The console log shows `Applied to:  [undefined, undefined]`.

I can see the `ErrorMessage` components in the React Dev Tools, but th

[2020-06-16 04:28] laurence-myers opened #20 "Feature request: chaining/nested `react()` selectors"
It'd be nice to be able to chain calls to `.react()`, so we can query child components the exist under found parent components.

Consider this scenario:

[code]

I'd like to query the error message for the `username` field.

If I have two forms on the page that have a `username` FormField, I would need to add some other way to distinguish them in my markup. I end up having to start with a `react()

[2020-06-16 05:32] abhinaba-ghosh commented on #20
Hi @laurence-myers , just thinking out loud, can you try below:

[code]

`react()` returns DOM Node , where `getReact` returns `resq` Node. Even of this works, I need to enhance the module as per you suggested, as that makes more sense. Just let me know, if this works.

[2020-06-16 06:48] laurence-myers commented on #20
I gave that a go, but the last call to `.react('ErrorMessage')` just returned an array `undefined` values (due to #19), one for each `ErrorMessage` in the form, where I expected a single result.

![image](https://user-images.githubusercontent.com/6336048/84740701-30dd2580-aff1-11ea-8f05-fa6c5beed70d.png)

[2020-06-16 08:28] abhinaba-ghosh commented on #20
Okay, so let me work on #19 first. It's good that chaining still can be handled through `getReact`

[2020-06-16 08:32] abhinaba-ghosh commented on #19
Hi @laurence-myers , if it returns `undefined` what output `Node` information you want to get from the `.react()`?

Can you suggest any sample output structure?

[2020-06-16 12:56] laurence-myers commented on #19
Sorry, I'm just learning Cypress, so I'm not really sure how the API should work. 🙁 Maybe I'm using it incorrectly. I was hoping calling `.react('ErrorMessage').should('not.be.visible')` would check for existence of the node, but maybe I should be asserting `.should(not.exist)` or similar? I'll double check if that works.

[2020-06-16 13:36] abhinaba-ghosh commented on #19
Thanks @laurence-myers . Let us know if that works.

[2020-06-17 07:21] abhinaba-ghosh commented on #20
chaining can happen with the approach, so closing the issue.

[2020-06-17 23:40] laurence-myers commented on #20
Are you sure? Sorry I wasn't clear, but the last `.react('ErrorMessage')`
does _not_ chain off the previous `.getReact()` calls; it returns all
components on the page. I haven't confirmed whether chaining `.getReact()`
works.

I would be happy to add a test to confirm this, but it could require
modifying the "calculator" live demo. I wonder if it'd be worthwhile using
the lib https://github.com/ba

[2020-06-18 14:22] abhinaba-ghosh commented on #20
@laurence-myers You are right. When I really started testing things in this area, getting strange results. I am working on it, will keep you posted.

[2020-06-18 17:21] abhinaba-ghosh commented on #20
Hi @laurence-myers, released a new version `1.1.0`

Now, you should be able to chain queries like:

- fetch `HTMLElements` by chained `react` queries

[code]

- fetch `react props and states` by chained `getReact` query

[code]

Can you give a quick try and let me know if that works. I have added a few sample tests in the [calculator tests] (https://github.com/abhinaba-ghosh/cypress-react-selector

[2020-06-29 16:16] abhinaba-ghosh commented on #20
I hope it solved your issue. Please feel free to re-open in case any bugs found.

[2020-06-29 16:16] #20 closed

[2020-07-01 16:21] abhinaba-ghosh commented on #19
Hi @laurence-myers , any update you like to share?

[2020-07-11 09:13] abhinaba-ghosh commented on #19
closing due to staleness.

[2020-07-11 09:13] #19 closed

[2020-08-06 05:05] wing5822 opened #21 "Feature Request: Change the prop value for a selected component"
Hi there,

This is not an issue but was wondering if there was a way to change the prop values after selecting the component?

[2020-08-06 06:14] abhinaba-ghosh commented on #21
Hi Thanks for raising the issue ans closing it. Can you share your anwser/analysis on this so thatothers can get benefitted.

Thanks.

[2020-08-06 06:17] wing5822 commented on #21
Sorry, realized that this plugin doesn't have this option so I'm going to either find a way to do it or check another plugin.

[2020-08-06 06:19] abhinaba-ghosh commented on #21
Can you raise a feature request (issue) on the same? Let me find out a possibility for this plugin. Thanks.

[2020-08-06 09:25] khateeb321 opened #22 "cy.waitForReact is not a function"
Something missing in the documentation, cannot use any function.
![tempsnip](https://user-images.githubusercontent.com/10035363/89515588-9f5f8800-d7d7-11ea-843f-5301634da4af.png)

[2020-08-06 09:37] khateeb321 commented on #22
Sorry - it was my fault, I'm using Typescript instead of Javascript, so in addition, to add import 'cypress-react-selector' in command.js we also have to add it in typescript definition file or commands.ts

[2020-08-06 09:37] #22 closed

[2020-08-06 09:44] abhinaba-ghosh commented on #21
@wing5822 I appreciate the ticket. Would you be able to provide some more information? Any use cases (sample codes) will help me to dig deep.

[2020-08-06 18:24] abhinaba-ghosh commented on #22
Hey @khateeb321 , I am glad that you figured that out. If the library works for you, leave a star! Thanks.

[2020-08-06 23:33] wing5822 commented on #21
hey @abhinaba-ghosh

I'll use your example

`const MyComponent = ({ someBooleanProp }) => (
  <div>My Component {someBooleanProp ? 'show this' : ''} </div>
);

const App = () => (
  <div id="root">
    <MyComponent />
    <MyComponent someBooleanProp={true} />
  </div>
);

ReactDOM.render(<App />, document.getElementById('root'));`

We get the react component like so
cy.getReact('MyComponent', { s

[2020-08-07 04:42] abhinaba-ghosh commented on #21
@wing5822 Thanks for the details. You will get an update by upcoming Monday.

[2020-08-07 09:44] khateeb321 commented on #22
Works amazing! I'm impressed

[2020-08-08 09:40] abhinaba-ghosh opened #23 "Feature: Allow mounting react component runtime"
it will be nice to mounting react component runtime so that user can update states and props runtime.

[2020-08-08 09:53] abhinaba-ghosh commented on #21
Hi @wing5822 , after careful analysis, I found out this library can be best suited for E2E testing. Changing prop and state require re-rendering of the React components. So, your tests should have access to source code directly.

The best way to efficiently testing the react component using both the library:
- cypress-react-selector
- cypress-react-unit-test

You can find an [existing example](htt

[2020-08-08 09:53] #21 closed

[2020-08-09 03:12] wing5822 commented on #23
Thanks @abhinaba-ghosh, I'll have a look.

Only issue is that I do not have access to the source. I have just been told to test different states using the props.

This function is in react-dev-tools for chrome.

[2020-08-09 08:45] abhinaba-ghosh commented on #23
@wing5822 yes, I truly understand the pain. But the fact is once you change the prop, the component should be re-rendered. I highly doubt, it can be achieved without access to the source code. I am testing some random concepts. Keep an eye in this ticket.

[2020-08-09 08:52] wing5822 commented on #23
@abhinaba-ghosh, I'll have a look around too. I think it should be achievable because if you use the react-dev-tools in chrome it allows you to change the props and the component will render accordingly. If find a solution I'll come back.

[2020-08-09 08:54] abhinaba-ghosh commented on #23
@wing5822 can you point me to some documentation/videos where changing props with dev-tools is demonstrated? It will provide me a good reference.

[2020-08-09 09:59] wing5822 commented on #23
Example clip I made. No Audio

[https://drive.google.com/file/d/1xF1RdAUyb3GLReenMrW5E6APdsAYY-II/view?usp=sharing](https://drive.google.com/file/d/1xF1RdAUyb3GLReenMrW5E6APdsAYY-II/view?usp=sharing)

[2020-08-09 13:48] abhinaba-ghosh commented on #21
Its main idea is to model the entire process of user-application interaction as near to real-life as possible. A user cannot manipulate a component's props and state directly, so the cypress-react-selector is also not supposed to do this. Instead, you can emulate a user action that should lead to intended props/state modification and then check how it affects a page state after re-render.

Also, d

[2020-08-10 01:51] wing5822 commented on #21
That I understand. All good =)

[2020-08-12 02:39] bahmutov opened #25 "getReact as a child command should throw a good error if subject is empty"
if I accidentally query a non-existent component

[code]

Then the error thrown is super cryptic

<img width="973" alt="Screen Shot 2020-08-11 at 10 36 21 PM" src="https://user-images.githubusercontent.com/2212006/89969043-7568f400-dc23-11ea-9114-a62685902592.png">

It would be nice to

- throw a good error if the subject is empty
- auto-retry finding the component

[2020-08-12 02:40] bahmutov commented on #25
For now I do insert
[code]

[2020-08-12 03:26] bahmutov opened #26 "cy.react should retry"
See details in https://github.com/bahmutov/cypress-react-unit-test/issues/379

Built-in Cypress retry-ability https://on.cypress.io/retry-ability

Example of retrying assertions in this file https://github.com/cypress-io/cypress-xpath/blob/master/src/index.js#L116

[2020-08-12 08:03] abhinaba-ghosh commented on #25
Hi @bahmutov , Let me know your thought in the below error message. If looks good, I gonna merge the changes.

<img width="573" alt="Screenshot 2020-08-12 at 1 26 37 PM" src="https://user-images.githubusercontent.com/23141842/89990177-9a9b4800-dc9f-11ea-8fb3-0f2a929ce0fe.png">

[2020-08-12 12:52] bahmutov commented on #25
Looks much better 👍

Sent from my iPhone

[2020-08-12 15:19] bahmutov opened #28 "cy.react after updating the state does not find the updated component"
See details in https://github.com/bahmutov/cypress-react-unit-test/issues/381

[2020-08-12 15:26] #25 closed

[2020-08-12 17:34] abhinaba-ghosh commented on #26
H @bahmutov,

To accommodate this change, I needed to change the code from

[code]

to

[code]

But, after changing the code, the error message is not getting printed in the debug mode. Is there a way to print the error messages nicely without throwing them?

[2020-08-12 19:54] abhinaba-ghosh commented on #26
As per the comment on https://github.com/bahmutov/cypress-react-unit-test/issues/379, there are two parts -

1. Retry for incoming assertions
2. Retry up to nodes identified  ( in case there no incoming assertion)

For point 1, `cypress-xpath` was an amazing reference. For point 2, would you kindly refer to any docs?

[2020-08-14 11:09] maga-polito commented on #20
I'm trying to recognize nested components in version 1.1.1 in this way:
cy.react('MyComponent', { name: 'Bob' })
  .react('MyAge')
  .should('have.text', '50');

and getting following error:
cy.react() failed because it requires a DOM element.

The subject received was:

The previous command that ran was:

[2020-08-14 11:13] abhinaba-ghosh commented on #20
Hi @maga-polito, can you raise a separate issue with actual/similar codes.

By the way, there are some ongoing tasks going on for showing error messages nicely and retrying `react` fluent queries. Please keep a track on:

1. https://github.com/abhinaba-ghosh/cypress-react-selector/issues/25
2. https://github.com/abhinaba-ghosh/cypress-react-selector/issues/26

[2020-08-15 21:24] #26 closed

[2020-08-15 22:49] abhinaba-ghosh commented on #28
fixed  in V2.0.1

[2020-08-15 22:49] #28 closed

[2020-08-15 22:49] abhinaba-ghosh commented on #26
fixed in v2.0.1

[2020-08-15 22:50] abhinaba-ghosh commented on #25
fixed in v2.0.1

[2020-08-15 22:52] abhinaba-ghosh commented on #20
Retry ability is available in v2.0.1 with breaking changes. Thanks.

[2020-08-18 07:35] khateeb321 opened #30 "Cannot read property 'props' of undefined ..."
This error occurs many times while running the test, sometimes I just close and re-run the Cypress, it works without any change in code. Sometimes just simple refresh works.
This is painful to restart or re-run, again and again, more-over the test will run in the CI pipeline, which will fail the whole pipeline together.

![tempsnip](https://user-images.githubusercontent.com/10035363/90483560-2ea06

[2020-08-18 07:41] abhinaba-ghosh commented on #30
Hi @khateeb321 , would you mind to upgrade to v2.0.1?
Many bug fixes and enhancements have been done. Now the library will auto-retry on assertions and show nice error messages. Its a breaking change. Make sure to read the change log https://github.com/abhinaba-ghosh/cypress-react-selector/blob/master/CHANGELOG.md

[2020-08-18 07:44] abhinaba-ghosh commented on #30
I am not sure, but just thinking your amazing react component maybe sometimes get found and sometimes not. So, it is good to upgrade to v2.0.1 to tell `cypress-react-selector` to auto-retry at that time. Make sure to declare the `root` in as an `env` parameter as suggested here: https://github.com/abhinaba-ghosh/cypress-react-selector#wait-for-application-to-be-ready-to-run-tests

[2020-08-18 07:51] khateeb321 commented on #30
Upgraded, will test and come back

[2020-08-18 08:32] khateeb321 opened #31 "How to read all current state of a component?"
I don't know where to ask this question, I think this is the only communication channel.

I want to get the state of the component, without knowing the value, all the examples I have seen is with the value of the state and filtering on the based on that.

Just like getProps
`
cy.getReact('reactComp')
            .getProps('myProp')
            .then((data) => {
                result = data

[2020-08-18 08:45] abhinaba-ghosh commented on #31
Hi @khateeb321, are you looking for something similar?

[code]

[2020-08-18 08:48] khateeb321 commented on #31
No, I want to get all the state, I don't know the value of the state, just name.
{ myName: 'Second item' } would not work in my scenario

[2020-08-18 08:57] abhinaba-ghosh commented on #31
Can you try the below and let me know the outcome:

[code]

[2020-08-18 09:01] khateeb321 commented on #31
Empty object, by going through React Dev tool, it made me clear that I'm asking for the state in the context of hooks, I believe it is not supported.

[2020-08-18 09:03] abhinaba-ghosh commented on #31
Maybe the case. Would you mind creating a sample repo mimicking the scenario (not necessary to have real data)? I can dig deeper and check any feasibility of enhancing the library.

[2020-08-18 09:04] khateeb321 commented on #30
Verified, fixed in 2.0.1

[2020-08-18 09:05] abhinaba-ghosh commented on #31
And also check if it really found out the component or not. Make sure the `root` is defined in `cypress.json` file or just do something:

[code]

[2020-08-18 12:17] khateeb321 commented on #30
Issue still exists

[2020-08-18 12:18] abhinaba-ghosh commented on #30
Hmm.. can you provide a sample repo kimicing the similar behavior and a test look into? It will really help!

[2020-08-18 14:42] Max-Strick opened #32 "Installation guide updating/clarification"
Hello, your plugin looks very suitable for me, but I have trouble with its setup.

### Precondition:
Basic cypress project without any app:
[code]
### Steps

1. Install resq `npm install --save resq`
2. Install cypress-react-selector `npm i --save cypress-react-selector`
3. Update cypress/support/index.js  by `import 'cypress-react-selector';`
4. Open cypress `npx cypress open`
5. Run spec.js
6. G

[2020-08-18 14:47] abhinaba-ghosh commented on #32
Hi @Max-Strick , thanks for raising this concern. Can you let me know which node version you are using?

[2020-08-18 15:06] Max-Strick commented on #32
@abhinaba-ghosh , thanks for fast response
v12.16.2

[2020-08-18 15:27] abhinaba-ghosh commented on #32
Hi @Max-Strick , Can you try the version V2.0.2. Let me know if upgrading it solves the issue. I have changed the export logic.

[2020-08-18 15:48] abhinaba-ghosh commented on #32
I mean cypress-react-selector version 2.0.2

[2020-08-18 15:55] Max-Strick commented on #32
@abhinaba-ghosh great! It works!
Thank you for your rapid response and fix.
Also, could you please don't close the issue, tomorrow I will try more thoroughly.

[2020-08-19 14:10] #32 closed

[2020-08-20 18:09] Max-Strick opened #33 "Property with dash symbol '-' recognized incorrectly"
### Current behavior:
I have added `data-cy=id` property with relevant Id to the react component (as recommended in the cypress doc and is very convenient).
I am trying to get react component by this property:
[code]
and getting a syntax error on compilation: `Unexpected token, expected ","`

### Desired behavior:
To have the ability to get react components using `data-cy` property.

The first tho

[2020-08-20 18:16] abhinaba-ghosh commented on #33
Hi @Max-Strick,

The props we are taking here is [React Props](https://reactjs.org/docs/components-and-props.html)
Have you created your React component with `data-cy` prop? Would you kindly share the details of the React component?

[2020-08-20 18:18] abhinaba-ghosh commented on #33
And, `prop` is a JSON object, not string. string like  `data-cy` you can pass in the JSON using double quotes, like:

[code]

Please refer to the [readme](https://github.com/abhinaba-ghosh/cypress-react-selector#how-to-use-react-selector) for all the syntactical details.

[2020-08-24 09:52] abhinaba-ghosh commented on #33
Cool. it solves the issue. now you can choose to [support](patreon.com/user?u=32109749) the project. It is completely optional.

[2020-08-24 09:53] abhinaba-ghosh commented on #13
Hey, I hope all going well with the plugin. Recently we did some improvements. You can have a look at the new version.

Now you can choose to [support](patreon.com/user?u=32109749) the project. It is completely optional.

[2020-08-27 20:59] abhinaba-ghosh opened #39 "bug: getIdentifierLogs not defined"

[2020-08-27 21:00] abhinaba-ghosh commented on #39
issue fixed in v2.0.3

[2020-08-27 21:00] #39 closed

[2020-08-27 21:05] #31 closed

[2020-09-09 20:22] claytron5000 opened #41 "How to select single component from multiple on page"
I have a number of `IconButton` components on a page. They are mostly differentiated by where they are on the page, so different parents. can I drill down from a selected parent to child?

[2020-09-09 20:30] abhinaba-ghosh commented on #41
Hi @claytron5000 , thanks for raising the query. You wanna look into the `chained command` section: https://github.com/abhinaba-ghosh/cypress-react-selector#use-fluent-chained-queries

Let me know if that does not work. I will be happy to dig into that.

[2020-09-09 20:32] abhinaba-ghosh commented on #30
Hi @khateeb321 , is there any update on this issue? I will be happy to learn if you already figured something out.

[2020-09-09 20:43] claytron5000 commented on #41
That's exactly it. I was getting an error, but I think it was a bad selector. Thanks for the cool tool!

[2020-09-09 20:46] abhinaba-ghosh commented on #41
Hi @claytron5000, when I created the tool, I actually tested against a smaller set of use cases. It is also possible that the error you are getting is a valid error and I missed to handle that very logic. If you get the error, again and again, I request you to re-open the ticket and help me to get it resolved.

Thanks a lot again for giving a try with the tool. :)

[2020-09-09 20:48] abhinaba-ghosh commented on #41
also, not, `fluent` chained commands dot really re-try. I am working on it to get it resolved.

https://github.com/abhinaba-ghosh/cypress-react-selector/issues/30

[2020-09-09 20:58] claytron5000 commented on #30
Yeah, it looks legit.

cypress.json:
[code]

Test code:
[code]
React code:
[code]

The ```SearchIcon` is a MaterialUI svg icon that's transformed into `SvgIcon`. Here's the component tree screenshot:

![image](https://user-images.githubusercontent.com/5767672/92654279-a0477600-f2bd-11ea-9d0f-cb113fce123e.png)

[2020-09-09 20:59] claytron5000 commented on #41
Yeah, it looks legit.

cypress.json:
[code]

Test code:
[code]
React code:
[code]

The `SearchIcon` is a MaterialUI svg icon that's transformed into `SvgIcon`. Here's the component tree screenshot:

![image](https://user-images.githubusercontent.com/5767672/92654279-a0477600-f2bd-11ea-9d0f-cb113fce123e.png)

[2020-09-09 21:53] abhinaba-ghosh commented on #41
Hey @claytron5000 Thanks for re-opening and for the logs. Would you mind also sharing the cypress window error messages? Screenshot will be enough. I want to see the waiting period and the messages it is producing.

[2020-09-10 12:49] claytron5000 commented on #41
[code]

[2020-09-14 20:56] claytron5000 opened #42 "Basic Test failing with `Your callback function returned a promise that never resolved.`"
Test:
[code]

cypress.json
[code]
error:

[code]

[2020-09-14 21:05] abhinaba-ghosh commented on #42
hi @claytron5000 , I am aware of this issue. But fir me its an intermittent issue. I will raise a concern with Gleb tomorrow.

can you let me know whats the behaviour if you run the same test multiple times? is it still throwing the same error?

[2020-09-14 21:19] abhinaba-ghosh commented on #42
moreover, if you can provide a sample repository, i can take a deeper look.

[2020-09-21 11:23] abhinaba-ghosh opened #48 "fluent commands not retrying properly"
fluent commands are retrying only if there is an assertion with single commands. But, consecutive `react()` or `getReact()` not retrying themselves . Suppose:

[code]

[2020-09-21 12:57] abhinaba-ghosh commented on #48
Depends on `resq` internal mechanism. Based on the decision taken [here](https://github.com/baruchvlz/resq/issues/60), this issue will be resolved.

[2020-09-28 12:43] claytron5000 commented on #42
@abhinaba-ghosh I want to keep this issue fresh, unfortunately I haven't had a chance to revisit this. Once I get time to revisit I'll create  an example/recreate the issue.

[2020-10-02 14:26] dmtrKovalenko opened #55 "Doesn't work with monorepos"
This line completely breaks  monorepo setup. In case node_modules are hosted somewhere upper. Please replace this with `require`.

https://github.com/abhinaba-ghosh/cypress-react-selector/blob/62e8da928d28fd0c3a985da4ee9604daf983f404/src/resqInjector.js#L9

[2020-10-05 17:15] abhinaba-ghosh commented on #55
Hi @dmtrKovalenko , Thanks for addressing this issue. Just released the version `2.0.5`. Please try and let us know if that resolves the issue.

[2020-10-08 09:35] jamesl1001 opened #57 "cy.getReact() returns Error: Component not found"
Hi Abhinaba,

I'm trying to read the value of a prop from a component using:

`cy.getReact('HomeWelcome').getCurrentState()`

When I run it I get the following error in Cypress:

[code]

My `cypress.json` looks like so:

[code]

And after reading some other issues and your readme, I tried to add `cy.waitForReact()` to the `before()` but then I get the following error:

[code]

Some other things to

[2020-10-08 09:39] abhinaba-ghosh commented on #57
Hi, `cy.waitForReact()` should be executed successfully before proceeding with it. any other `react-selector` commands. This is appearing because of a recent change, can you try the version `2.0.4`?

[code]

Let me know that resolves your issue.

[2020-10-08 10:31] aditya-3008 commented on #57
Hi Abhinaba,

I am also getting same error, while inspecting Component using React-Dev tool. Multiple reasons error.

 cy.waitForReact();
      const btn = cy.react('Anonymous*', { props: { name: 'abc' } });
       //const btn = cy.react('CatalogGridItem*', { props: { name: 'xyz' } });
      btn.click();

I am writing End to end tests and doesn't have access to source code, so is there any way to

[2020-10-08 10:34] aditya-3008 opened #58 "Not able to find component- Multiple reasons"
Hi Abhinaba,

I have updated my Cypress.json file with the env for cypress-react-selector. I am getting error, while inspecting Component using React-Dev tool. Multiple reasons error.

Component not found <* name="tradition">

  There can be multiple reasons for it.

 cy.waitForReact();
      const btn = cy.react('Anonymous*', { props: { name: 'abc' } });
       //const btn = cy.react('CatalogGrid

[2020-10-08 10:42] abhinaba-ghosh commented on #57
Hi @aditya-3008 , the error you are receiving because the component is not found. If you are sure that you are mentioning the `react-root` correctly in the [configuration file](https://github.com/abhinaba-ghosh/cypress-react-selector#wait-for-application-to-be-ready-to-run-tests), then the only reason is an exact match with the `props` is not found. It is like any other selection process. If you c

[2020-10-08 10:47] abhinaba-ghosh commented on #58
Hi @aditya-3008 , the error you are receiving because the component is not found. If you are sure that you are mentioning the `react-root` correctly in the [configuration file](https://github.com/abhinaba-ghosh/cypress-react-selector#wait-for-application-to-be-ready-to-run-tests), then the only reason is an exact match with the `props` is not found. It is like any other selection process. If you c

[2020-10-08 10:48] abhinaba-ghosh commented on #55
Re-opening as there `require.resolve` is erroring out in the bundle. Unpublished the `2.0.5` version for a while. Will release it later today.

[2020-10-08 10:50] aditya-3008 commented on #58
Can you share some example to find react-root of application, in my DOM I had
<div id="root" class ="">

So I took this root and put it in my config file.  Do I need to take some other root for react, if yes how it will be.

[2020-10-08 10:59] abhinaba-ghosh commented on #58
**Root**: The parent where the object resides

<img width="1182" alt="Screenshot 2020-10-08 at 4 27 31 PM" src="https://user-images.githubusercontent.com/23141842/95450078-5963a380-0983-11eb-892c-375f0ee1f3dd.png">

**Component:**
![Uploading Screenshot 2020-10-08 at 4.26.19 PM.png…]()

[2020-10-08 11:32] aditya-3008 commented on #58
I am using exactly the same syntax as per my application, but still, it is not able to find out. It is giving the same error.  I think my application is having complex components structure with a lot of Anonymous components. Can you share URL of some application so that I can try my hands if I am finding components correctly or not.

[2020-10-08 11:32] aditya-3008 commented on #58
I am using exactly the same syntax as per my application, but still, it is not able to find out. It is giving the same error.  I think my application is having complex components structure with a lot of Anonymous components. Can you share URL of some application so that I can try my hands if I am finding components correctly or not.

[2020-10-08 11:33] aditya-3008 commented on #58
I am using exactly the same syntax as per my application, but still, it is not able to find out. It is giving the same error.  I think my application is having complex components structure with a lot of Anonymous components. Can you share URL of some application so that I can try my hands if I am finding components correctly or not.

[2020-10-08 12:44] abhinaba-ghosh commented on #55
should work with `v2.0.6`

[2020-10-08 12:44] #55 closed

[2020-10-08 12:47] abhinaba-ghosh commented on #58
Can you check these [tests](https://github.com/abhinaba-ghosh/cypress-react-selector/blob/master/cypress/integration/calculator.spec.js)

[2020-10-08 12:51] abhinaba-ghosh commented on #30
Closing for inactivity. If you still find this issue in the latest version, feel free to re-open the issue.

[2020-10-08 12:51] #30 closed

[2020-10-08 13:50] aditya-3008 commented on #58
Thank you, I tested these tests and have much clear understanding now. However, I was using correct pattern in my scripts maybe the component name in my application is not appropriate or something. I want to ask that can we use other tags like
{ props: { item: { label: 'email' }}}  as well instead of  " name: 'mail' " considering the above example.

[2020-10-08 15:18] xshadowlegendx commented on #58
hello, I also met this issue and I already made sure the root is found by setting non existence root which gave me root not found error and setting correct root which does not give me any error but when I try to use `cy.react` or `cy.getReact` it always through me the error

[2020-10-08 16:55] abhinaba-ghosh commented on #58
@aditya-3008 you can use any of the props available for the target component.

[2020-10-08 16:58] abhinaba-ghosh commented on #58
@xshadowlegendx @aditya-3008 It seems like the issue is happening on a larger scale.  Using a production instance and not having the access to source code is a pain here. Would you guys mind sharing a private/public repository with some dummy codes and tests that you find difficult to construct? I can then give a proper look and re-constrcut the tests. I think in that way the learning will be comp

[2020-10-08 17:58] abhinaba-ghosh commented on #57
Hi @jamesl1001 , use the cypress version `2.0.4`. It should resolve your issue with the same code.

[2020-10-08 18:03] abhinaba-ghosh commented on #55
Hi @dmtrKovalenko , after a series of trial and error, I understood that providing a native support for this request is not going to be possible any time soon. The behind is cypress only allows basic node operations in the plugin file. But, you can overwrite the existing functionality of `waitForReact`.

in cypress/plugins/index.js

[code]

Now create your own copy of `waitForReact`

in cypress/su

[2020-10-08 18:17] abhinaba-ghosh commented on #58
Guys, for a better understanding, you also pull down this [repository](https://github.com/abhinaba-ghosh/example-cypress-react-selector-formik) and play with it.

[2020-10-08 22:10] jamesl1001 commented on #57
Yep, 2.0.4 is working, thanks.

[2020-10-08 22:10] #57 closed

[2020-10-09 08:16] aditya-3008 commented on #58
@xshadowlegendx  @abhinaba-ghosh  Yes it happens pn larger scale because I have tried with small basic react apps and it works fine but in real production sites it is not able to find any component using this pattern.

[2020-10-09 08:43] abhinaba-ghosh commented on #58
Hey @aditya-3008, sometimes in production environment React components get minified and changed their names. Kindly inspect the component names and props in production vs beta/stage environments. If components and props adhere to the same nomenclature, then there should be no problem to fetch the elements with `react-selector` identifiers. In case if you find there are deviations in the production

[2020-10-09 12:49] htd-tstepien commented on #58
I have problem with finding my component too. I want just check if it exist. I have many buttons but Cypress can't find my TextButton with children prop "Today"

Code:
[code]
Env:
![image](https://user-images.githubusercontent.com/57900160/95584698-6ee9d380-0a3e-11eb-9945-6d20589dd2db.png)

Output:
`Previous subject found null. getProps() is a child command. Use with cy.getReact()`

[2020-10-09 16:07] abhinaba-ghosh commented on #58
@htd-tstepien This is happening because the component `TextButton` is not loaded at the time of you run the operation. This will be fixed with https://github.com/abhinaba-ghosh/cypress-react-selector/issues/48

Meanwhile, add extra logic to load the component, then you execute the `getReact`. Something like:

[code]

Let me know if that solves the problem.

[2020-10-09 17:37] abhinaba-ghosh commented on #57
Hey @jamesl1001 I am happy that it is working now. if this library making an impact on your development, you can consider [supporting](https://www.paypal.com/paypalme/abhinabaghosh) the project.

[2020-10-10 18:04] aditya-3008 commented on #58
Hi , I am still not able to find the component. Please have a sample DOM look of my app.

![image](https://user-images.githubusercontent.com/69587843/95661953-c4ec7300-0b33-11eb-926f-31cd51f33d47.png)

[2020-10-10 18:16] abhinaba-ghosh commented on #58
Hey @aditya-3008, Can you be more specific? This is an interesting issue and I would like to understand which error it is throwing exactly. Can you try running the below code and inspect in cypress electron runner which exact error it is showing?

[code]
Side note, `getReact` returns an [RESQ node](https://github.com/abhinaba-ghosh/cypress-react-selector/blob/36e336a24e64c7d6e9e92dd08896a914903d50

[2020-10-11 09:27] aditya-3008 commented on #58
@abhinaba-ghosh - Issue is still the same, component not found. There can be multiple reasons for it.

For your more understanding, let say we have multiple components with name CatalogGridViewToggleBase as tiles but we are giving the props name abc which is only one, I think the above code should work or do we have to follow other pattern to find a component which is having common name on the pag

[2020-10-11 10:33] abhinaba-ghosh commented on #58
@aditya-3008 can you share a repository where I can reproduce the issue?

[2020-10-11 20:59] abhinaba-ghosh commented on #42
Hi @claytron5000 , the issue should be resolved in `v2.1.0`. Feel free to re-open the ticket if you find the same in the future.

[2020-10-11 20:59] #42 closed

[2020-10-11 21:01] abhinaba-ghosh commented on #41
Hi @claytron5000, can you try upgrading to `v2.1.0` and retrying the same commands. I have added some extra retry mechanism recently. Would love to get the feedback.

[2020-10-11 21:02] abhinaba-ghosh commented on #48
Commands are retrying properly in `v2.1.0`. If anyone finds the same issue, feel free to re-open the ticket.

[2020-10-11 21:02] #48 closed

[2020-10-11 21:03] abhinaba-ghosh opened #60 "Feat: add support for `exact` flag to return a component if and only if all the `props` filter matches"

[2020-10-11 21:06] abhinaba-ghosh commented on #58
Hi @aditya-3008 @xshadowlegendx @htd-tstepien Please upgrade to `v2.1.0` and check if your issue gets resolved. I have added some fluent retry mechanism. If the issue is asynchronous loading, then this version will help you tremendously.

[2020-10-12 15:18] maga-polito commented on #58
I'm having the same issues on tests that used to work no it seems like it can find any component even if the cypress-react-selector is loaded correctly, now if I try to wait for component existance it gives me following
error {timeout: 30100}, function(){}
Could not find instance of React in given element

[2020-10-12 17:20] abhinaba-ghosh commented on #58
@maga-polito I think the error it is throwing is correct. Make sure the component you are searching should fall under the root you are specifying. I highly suggest going through a couple of projects that use the react-selector mentioned [here](https://github.com/abhinaba-ghosh/cypress-react-selector#community-projects). This library requires some understanding of how the app is built. Feel free to

[2020-10-16 17:13] #60 closed

[2020-10-23 14:18] zRealMikeJordan commented on #41
@abhinaba-ghosh I'm getting the same issue on version 2.2.0.

  Error: Component not found **<MyComponent>**
cypress   |
cypress   |
cypress   |   There can be multiple reasons for it.
cypress   |
cypress   |   > Check the root is defined as a env parameter (cypress.json config file).
cypress   |
cypress   |   > If the root is defined correctly, check other parameters - component name, props and s

[2020-10-27 05:57] abhinaba-ghosh commented on #41
@zRealMikeJordan, The library works irrespective of the underlying infrastructure. So, if it is working in your local, not in the docker, there is a high chance that the application under test has been changed. Are you building the react app for production and testing it in the docker? Sometimes, it changes the component names. Try building in `profile` mode and try.

[2020-10-27 10:55] htd-tstepien commented on #58
Hey @abhinaba-ghosh , sorry for the late response. Still without a result.
[code]

And I've got
<img width="490" alt="image" src="https://user-images.githubusercontent.com/57900160/97292257-4ee24e80-184b-11eb-9a4a-883ee80c936e.png">

[2020-10-27 11:02] abhinaba-ghosh commented on #58
@htd-tstepien now this is something interesting. Can you share a repository where I can reproduce the issue? Feel free to connect with me in `Gitter`.

[2020-10-27 12:36] zRealMikeJordan commented on #41
I found the issue. It was actually that the react build resulted in a tree
of “anonymous” components and so you lib couldn’t find the components I
referenced.

I fixed this by doing a dev build in the container but because react
scripts is so slow I had to put sleep 30; at the beginning to wait for
localhost to become available. A bit hacky so if you know a better way
please let me know. I’m not f

[2020-10-27 12:54] htd-tstepien commented on #58
hmm, it'll be hard because it's a private project and I wanted to test this module if it can fit into our tech stack to simplify tests and expand possibilities 😕 I will keep an eye on the development of this module because it is promising, but it is a little bit incomprehensible to me to keep it in this situation.

[2020-10-27 19:29] abhinaba-ghosh commented on #58
Sure @htd-tstepien. btw, are you running the tests with the raw components or you are using a production build of the application?

[2020-10-27 19:35] htd-tstepien commented on #58
1. Raw
2. Yes it works on other components

[2020-10-27 19:52] abhinaba-ghosh commented on #58
@htd-tstepien Good to know that it works with other components. Now specifically check if this component falls under different react roots or not. Sometimes apps do have different roots. If this is the case, then you can explicitly pass the root as:

[code]

[2020-10-27 20:46] abhinaba-ghosh commented on #41
Hey @zRealMikeJordan , good to know that you figured out the issue. [This](https://gist.github.com/bvaughn/25e6233aeb1b4f0cdb8d8366e54a3977) can help to get some idea about the profiling mode.

[2020-10-30 21:31] caseyjhol commented on #41
@abhinaba-ghosh Thanks for all of your work on this! Unfortunately, chained commands still aren't working for me. I have two `MenuButton` components on my page; one is inside the `DashboardFooter` component (the one I want to target).

[code]
returns

[code]

![image](https://user-images.githubusercontent.com/2874325/97757815-2795b680-1ac3-11eb-9109-9139f72f2560.png)

Only one `MenuButton` is visi

[2020-10-31 09:34] abhinaba-ghosh commented on #41
@caseyjhol I will have a look into this.

[2020-11-01 16:38] Ankit-Laddha opened #78 "Doesn't limit scope of searching within the parent element scope"
Not sure if I'm doing something wrong OR it's the accepted behaviour.

Browser: any
cypress@5.4.0
cypress-react-selector@ = 2.2.0

I'm using mix of .react and .get/.find of cypress while finding any element. There are certain situation when I want to limit the scope of .react() to certain div children. But using .react gives me all the elements on the page instead of the matching one from the scop

[2020-11-02 06:24] theKosh opened #79 "Fluent chained queries doesn't work properly with multiple items"
### Summary
Fluent chained queries doesn't work properly with multiple items.

### Precondition
macOS 10.15.7
Chrome 86.0
cypress@5.5.0
cypress-react-selector@ > 2.0.3 (checked on 2.0.4, 2.1.0, 2.2.0).

### Steps to reproduce
1. Have more than one identical element on the page that differs only in the parent element, for example:
`'button', { props: { type: 'submit' } }`.
2. Use the Fluent chained

[2020-11-03 20:37] abhinaba-ghosh commented on #79
Hi @theKosh , we do not allow a propery called `hooks` in the commands. Allowed properties are `props`, `state`, and `exact`. I will throw an error going forward if other properties are passed.

[2020-11-03 20:40] abhinaba-ghosh commented on #58
Closing this thread. This is an error that can be caused for multiple reasons. If anyone gets the same, raise a separate ticket with a proper code example.

[2020-11-03 20:40] #58 closed

[2020-11-03 20:42] abhinaba-ghosh commented on #78
Tracking here https://github.com/abhinaba-ghosh/cypress-react-selector/issues/41

[2020-11-03 20:42] #78 closed

[2020-11-03 20:51] abhinaba-ghosh opened #82 "Throw error if un-supported properties used in react selector queries"
Currently supported properties to be queried are `props`, `state`, and `exact`. Thow error, if other properties are used.

[2020-11-04 06:16] theKosh commented on #79
Hi, @abhinaba-ghosh. Why can't we use hooks like in version 2.0.3? Restrictions in a third-party library? It's just very useful in some cases.

[2020-11-04 06:20] abhinaba-ghosh commented on #79
version 2.0.3 also does not support the `hooks`. I am not sure how it worked. if you need the support, feel free to open a feature request.

[2020-11-08 14:32] Ankit-Laddha opened #83 "React selector fails on CI"
### Question:
My tests are working fine on local, but while running on CI the tests fails as soon as they encountered `cy.react` command. Not sure, how and what to debug in this case.

### Env
cypress@5.5.0
cypress-react-selector@ = 2.2.0
CI: Azure

### Error:
` AssertionError: Timed out retrying: Expected to find element: `undefined`, but never found it.
      at Context../node_modules/cypress-re

[2020-11-08 17:45] abhinaba-ghosh commented on #83
Hi @Ankit-Laddha, Thanks for bringing this.

sometimes in the production environment React components get minified and changed their names. Kindly inspect the component names and props in production vs beta/stage environments. If components and props adhere to the same nomenclature, then there should be no problem to fetch the elements with react-selector identifiers. In case if you find there are

[2020-11-09 08:57] Ankit-Laddha commented on #83
Thanks @abhinaba-ghosh . But if you see the error message , it is trying to find element `undefined` while I'm trying to find component `MyComponent`. Not sure if issue is with minifying of components.
Also, on CI our app is build locally and hence tests are run against that local env instead of dev/staging. In this case, the component name should remain same.
Please advice.

[2020-11-09 12:31] abhinaba-ghosh commented on #83
Can you share the exact `command` you are using?

[2020-11-09 12:49] Ankit-Laddha commented on #83
You were correct. The app did have different components name while building on CI.
But even in that case, should not the error message say: `AssertionError: Timed out retrying: Expected to find element:MyComponent, but never found it` instead of saying it as `undefined`?

[2020-11-09 12:59] abhinaba-ghosh commented on #83
Correct. I will push a fix to show a display a meaningful message.

[2020-11-15 12:22] #79 closed

[2020-11-15 12:31] abhinaba-ghosh commented on #41
Hi, just catching up on things. I have created [this repository ](https://github.com/abhinaba-ghosh/cypress-react-chain-queries)to reproduce this bug. I am digging in. I will update the progress here.

[2020-11-15 12:56] abhinaba-ghosh commented on #41
https://github.com/baruchvlz/resq/issues/73

[2020-11-15 19:07] joetidee opened #86 "Unclear example of how to select props"
In the example in the readme file you have this:
[code]
but where did `fields.value` come from?

[2020-11-15 19:21] joetidee opened #87 "Cannot find component with props, despite showing in browser console"
I have this code:
![Screen Shot 2020-11-15 at 19 18 31](https://user-images.githubusercontent.com/8842431/99194489-9471a780-2777-11eb-87f2-b73003e6d07a.png)

but it produces this error:
![Screen Shot 2020-11-15 at 19 18 40](https://user-images.githubusercontent.com/8842431/99194497-a2272d00-2777-11eb-88ae-f8991a6d30bd.png)

even though the Chrome Dev Tools Component tab show this:
![Screen Shot 20

[2020-11-17 00:31] caseyjhol commented on #19
`.should('not.exist')` doesn't work either. I'm trying to assert that there are 0 AccountCards on the page.

`cy.react("AccountCard").should('not.exist')` throws

I also tried `cy.react("AccountCard").should("eq", undefined);`, but that returns the same error.

[2020-11-17 17:42] baruchvlz commented on #41
This issue seems to be related to some changes in the way React attaches the FiberNodes to the elements. The release [RESQ v1.10.0](https://github.com/baruchvlz/resq/tree/v1.10.0) should take care of the not being able to find React error.

Now, as to the chain operations. This is not supported in RESQ and should be handled at a library level. One of the ways to do this, is to do `resq.waitToLoadR

[2020-11-18 14:14] abhinaba-ghosh commented on #41
Thanks for the input @baruchvlz .
Much appreciated. Once the resq release is available, i will update this library to tackle the waitForReact calls.

[2020-11-19 05:56] abhinaba-ghosh commented on #86
Hi @joetidee, when you try to access a specific prop and if that prop contains a hierarchy then you have to use the dot (.) operator. Please refer to this example repository: https://github.com/gregfenton/example-cypress-react-selector-formik

[2020-11-19 05:56] #86 closed

[2020-11-19 05:59] abhinaba-ghosh commented on #87
This is intersting. Can you check if that component really exists or not.

[code]

[2020-11-19 07:16] #82 closed

[2020-11-19 07:16] #83 closed

[2020-11-19 17:27] nickpalmer commented on #55
It isn't the require.resolve that is the problem it is the use of fs.existsSync.

[2020-11-19 18:13] abhinaba-ghosh commented on #55
Thanks, @nickpalmer for pointing and fixing this issue. The fix is available in `v2.2.1`.

[2020-11-19 18:14] abhinaba-ghosh commented on #82
The fix is available in `v2.2.1`.

[2020-11-19 18:14] abhinaba-ghosh commented on #83
The correct display message is available in `v2.2.1`.

[2020-11-21 07:46] abhinaba-ghosh commented on #41
hi @baruchvlz , I have a different thought here. I don’t think you need to call `waitToLoadReact` every time internally in `cy.react` calls. Once React loading established, It will return - `React already loaded`, no matter how many times you run it. Now, in the case where AUT reloads the window, yes, you need to re-establish the react loading, not for all. I successfully manage to chain query by

[2020-11-21 11:43] joetidee commented on #86
I guess this is not obvious in the example provided.

[2020-11-21 11:45] joetidee commented on #87
This is what I see when I try the above:
![Screen Shot 2020-11-21 at 11 43 10](https://user-images.githubusercontent.com/8842431/99876508-0ec67f80-2bef-11eb-9e1d-9c78c3331d87.png)

[2020-11-21 13:02] abhinaba-ghosh commented on #87
it's `react`, not `getReact` for the `exists` command:

[code]

[2020-11-23 11:01] jorisw opened #93 "Breaks with Next.js 10"
Hi,

We're using `cypress-react-selector` with a Next.js 10 project. While our tests ran fine with Next.js 9.5.3, after upgrading Next.js to 10, something is causing `cypress-react-selector` to stop finding React components at some seemlingly random point.

Some example code:

[code]

`cypress-react-selector` for some reason fails to see the `Step` component, where under Next.js 9.5.3 it would see

[2020-11-24 01:12] dmlogs opened #94 "TypeScript TypeError require.resolve is not a function"
I just learned of this library and after installing 2.2.1 and adding to an existing test I hit a type error on `require.resolve` in the call `cy.waitForReact(..)`.

No issue after downgrading to 2.2.0.

[2020-11-24 07:00] abhinaba-ghosh commented on #94
@dmlogs can you share the actual error message or the screenshot?

@nickpalmer may be interested in this as per the recent changes https://github.com/abhinaba-ghosh/cypress-react-selector/pull/90

CC: @bahmutov

[2020-11-24 13:42] jorisw commented on #93
Closing this because I'm no longer sure it's related to Next.js

[2020-11-24 13:42] #93 closed

[2020-11-24 17:38] caseyjhol opened #95 "Tests failing in GitLab CI"
Any tests that depend on `cypress-react-selector` consistently fail in GitLab CI. A simple test that passes locally but fails in CI is:
[code]

Selecting by element ID works as expected. I've tried using Chromium instead of Electron in CI and that had no effect. I consistently get the following error:

![image](https://user-images.githubusercontent.com/2874325/100131818-c4890c80-2e41-11eb-9a6d-aa4

[2020-11-24 17:44] abhinaba-ghosh commented on #95
Hi @caseyjhol Can you refer https://github.com/abhinaba-ghosh/cypress-react-selector/issues/83? Let me know if this helps dig down the issue a bit.

[2020-11-24 17:45] abhinaba-ghosh commented on #94
@nickpalmer Can you check whether `2.2.1` build really making a noise for the `require.resolve` ?

[2020-11-24 17:48] caseyjhol commented on #95
Apologies for not seeing that beforehand. It looks like the same issue, so I'll close this and post any updates in that thread.

[2020-11-24 17:48] #95 closed

[2020-11-24 18:06] caseyjhol commented on #19
After updating to v2.2.1, `cy.react("AccountCard").should("not.exist")` now throws:

![image](https://user-images.githubusercontent.com/2874325/100134152-010a3780-2e45-11eb-9972-354fe1e9ccb4.png)

@abhinaba-ghosh Any ideas for a workaround?

[2020-11-24 18:12] abhinaba-ghosh commented on #19
so, the expectation is `AccountCard` should not exist right? I think it's not handled correctly now. Can you raise a ticket explaining the whole scenario?

[2020-11-24 18:16] caseyjhol commented on #19
That's correct. I'll get some more info for you and open a new ticket.

[2020-11-24 18:25] caseyjhol opened #96 "Non-existent components fail should("not.exist") assertions"
- cypress-react-selector v2.2.1

I'm trying to assert that there are 0 AccountCards on the page.

`cy.react("AccountCard").should("not.exist")` throws:

![image](https://user-images.githubusercontent.com/2874325/100135844-70812680-2e47-11eb-8a23-01dbbcbad034.png)

So, it's correct - the component is not found. However, I would expect for the assertion to pass, not fail.

`cy.react("AccountCard").s

[2020-11-24 18:30] abhinaba-ghosh commented on #96
Thanks for raising this. Will look over the weekend. Appreciate a PR to fix this.

[2020-11-24 20:39] raymiS commented on #94
@abhinaba-ghosh hello, I've been having the same error when I tried to `import "cypress-react-selector";` and then do a

`beforeEach(() => {
  cy.waitForReact();
  ...
});`

inside `support/index.js`

![Screen Shot 2020-11-24 at 3 36 35 PM](https://user-images.githubusercontent.com/31042933/100148756-2d38af00-2e6b-11eb-9584-7cd948781958.png)

[2020-11-24 23:49] dmlogs commented on #94
@abhinaba-ghosh - sorry, I didn't include because it doesn't provide much additional context to what I put in the ticket, happy to provide additional info as well 👍

<img width="802" alt="require-resolve-is-not-a-function" src="https://user-images.githubusercontent.com/680988/100164322-76d5c980-2e6c-11eb-837b-375cf6d21139.png">

[2020-11-25 06:28] abhinaba-ghosh commented on #94
@bahmutov any thoughts here?

[2020-11-25 17:22] caseyjhol commented on #83
I ended up not needing to do anything with `profiling` mode. I created a custom `--ci` flag I can pass when calling build in CI, which minifies everything normally, except it keeps function names and class names untouched. In case this will help anybody in the future:

[code]

[2020-11-25 19:22] abhinaba-ghosh commented on #83
hey @caseyjhol , that's a great update. Thanks, mate.

[2020-11-26 12:29] WojtekMasiukiewicz opened #100 "Component not found if render wrapped with Fragment"
When I try to select component by `react` command:
`cy.react('MyComponent')`

I've got error error:
![image](https://user-images.githubusercontent.com/19590310/100350592-69dee480-2fea-11eb-81e1-53d39ed817c9.png)

This happened when MyComponent is wrapped with React.Fragment:
[code]

Without React.Fragment is ok. Also there is no problem using `cy.getReact('MyComponent')`

version:
    "cypress": "

[2020-11-26 12:33] abhinaba-ghosh commented on #100
Hi. Thanks for raising this issue. Will look into it.

[2020-11-26 16:18] abhinaba-ghosh commented on #94
By looking into [this](https://github.com/abhinaba-ghosh/cypress-react-selector/issues/100), it seems the problem is really happening for a subset of users. Can be a system configuration issue.

[2020-11-27 05:47] maga-polito commented on #94
Hi, If it helps it's happening to me too, only when running my project on docker

[2020-11-30 17:06] maga-polito commented on #94
Recent [PR](https://github.com/abhinaba-ghosh/cypress-react-selector/pull/90) breaks the selector on MAC and linux, had to go back to version 2.2.0. to fix it.

[2020-11-30 21:33] dmlogs commented on #94
I'm not an expert JS developer so take what I say with a grain of salt

Something like below might work to resolve, although I would still be hesitant to tap in to the node_modules folder by path name

[code]

Side Note: I've actually moved away from my previous use case for leveraging cypress-react-selector in favor of a simpler mechanism for the behavior I was looking to test that does not requi

[2020-12-02 20:27] mdn021 commented on #87
hey, i'm also having this issue.

This is what I'm seeing in react dev tools.
![image](https://user-images.githubusercontent.com/16750455/100927114-44922080-3499-11eb-84eb-5d7654f1fa6c.png)

This is the code I'm using to look for the component.
`      cy.waitForReact();
        cy.react('DisplayLeadDetails').should('exist');`

This is the error I'm seeing.
![image](https://user-images.githubuserco

[2020-12-04 16:36] claytron5000 opened #103 "[cypress-react-selector] not loaded yet when it is"
I'm getting the `[cypress-react-selector] not loaded yet` when the cypress console is telling me it has been loaded.
![image](https://user-images.githubusercontent.com/5767672/101188109-412aa080-3623-11eb-83e7-0b82fe007581.png)
I moved it to a `before` call as well, just in case that was the issue, but it behaves the same.
cypress.json:
[code]
The test:
[code]

Stack trace:
[code]

[2020-12-04 19:07] FDiskas opened #104 "NextJS 10 Multiple random issues "Could not find instance of React in given element""
[code]

Create simple nextjs app by `yarn create next-app --example with-typescript .`
create a test case.

`Could not find instance of React in given element` will be thrown at random intervals

[code]

[2020-12-04 20:06] abhinaba-ghosh commented on #103
Hi @claytron5000 , thanks for pointing this out. Can you let me know which version of `cypress-react-selector` you are using?

[2020-12-04 20:08] abhinaba-ghosh commented on #104
hi @FDiskas , thanks for using the library. Have you tried defining the configuration as stated [here](https://github.com/abhinaba-ghosh/cypress-react-selector#wait-for-application-to-be-ready-to-run-tests)?

[2020-12-05 11:05] FDiskas commented on #104
Sure.

[2020-12-05 17:03] claytron5000 commented on #103
2.2.1

[2020-12-10 11:13] davidnaas commented on #103
I had this issue as well and the problem is that you're calling `cy.visit` after having checked for react. This will cause a hard refresh which requires you to do wait for react to load again.

I believe this should be pointed out in the docs. It's not necessarily enough to wait for react in the `before` callback but should be done anytime your loading the whole page

[2020-12-10 13:12] abhinaba-ghosh commented on #103
Good catch @davidnaas . Love to get a PR.
We basically inject the `resq` object in the window instance so, if `window` gets loaded, you need to call `waitForReact()`.

[2020-12-11 15:41] davidnaas commented on #103
Done! #109

[2020-12-13 17:54] abhinaba-ghosh commented on #103
@davidnaas Merged thanks.

[2020-12-13 17:54] #103 closed

[2020-12-15 06:17] #96 closed

[2020-12-15 06:37] abhinaba-ghosh commented on #96
Hi @caseyjhol , the fix is avialble in `v2.2.2`. Let me know if you get any hiccups.

[2020-12-15 06:59] abhinaba-ghosh commented on #87
Hi, can you guys try with the latest version `v2.2.2` and check if still happening.

[2020-12-15 13:52] caseyjhol commented on #96
Awesome - thanks! I'll try this out and let you know how it goes.

[2020-12-15 15:52] mdn021 commented on #87
Still getting the same issue, unfortunately.

[2020-12-15 17:59] jessetabak opened #114 "resq not loaded"
I get the following error:
[code]

It looks like window.resq is undefined.

![image](https://user-images.githubusercontent.com/5311393/102253306-724e7f00-3f07-11eb-92d3-1c9e85fcf3a3.png)

home.spec.js:
[code]

cypress.json:
[code]

support/index.js:
[code]

[2020-12-16 09:18] abhinaba-ghosh commented on #114
Hi @jessetabak , thanks for reporting this. In the above screenshot, can you also include the `before` section. Just want to check if `cypress-react-selector` loaded in the `before` hook.

[2020-12-16 09:20] abhinaba-ghosh commented on #104
Hi @FDiskas , it is possible that the react root css selector is not `#root`. Can you check if this is something else?

[2020-12-16 09:25] FDiskas commented on #104
I was yesting on this repo
https://github.com/FDiskas/devtalks-e2e/tree/cypress
Nexjs root is `__next` and im sure that it matched setting in my test

[2020-12-16 09:55] jessetabak commented on #114
@abhinaba-ghosh  There you go, seems like its loaded:

![image](https://user-images.githubusercontent.com/5311393/102333047-2a723b00-3f8d-11eb-8646-2822f736df6c.png)

[2020-12-16 11:56] jessetabak commented on #114
I now realise it might be because of the SSO redirect, could that be the issue?

[2020-12-16 12:21] abhinaba-ghosh commented on #114
@jessetabak yes exactly, if `window` gets reloaded, you need to call `waitForReact()` immediately. So, for your case, its ,

[code]

[2020-12-16 20:42] jessetabak commented on #114
@abhinaba-ghosh Thanks for the quick response.

For now, the only way I can get it to work is like this:
[code]

I plan to disable the SSO part during testing anyway, so I won't need the cy.wait part anymore.

[2020-12-16 20:48] #114 closed

[2020-12-21 13:36] frysztak commented on #41
hi @abhinaba-ghosh, have you made any progress on this?

[2020-12-21 21:03] caseyjhol commented on #96
Gave this a try and it seems to be fixed - thanks again!

[2020-12-21 21:13] abhinaba-ghosh commented on #96
Thanks @caseyjhol. Good to know.

If this library helping you in your development journey, you can optionally choose to [sponsor](https://www.patreon.com/user?u=32109749)/ [support](https://www.paypal.com/paypalme/abhinabaghosh) ❤️ .

[2020-12-23 06:43] abhinaba-ghosh commented on #41
@hey @frysztak , we are getting few hiccups for React 17. I will work on this over the upcoming weekend. But, PR is always welcome.

[2020-12-23 06:43] abhinaba-ghosh commented on #104
Thanks @FDiskas for sharing the repo. I will take a look.

[2020-12-23 11:31] frysztak commented on #41
@abhinaba-ghosh I'd gladly help, though I'm not sure where to start. could you point me in the right direction?

[2020-12-23 12:22] danieltroger commented on #23
Great demo @wing5822, someone should reverse engineer the chrome dev tools! The firefox version does not allow for props to be changed.

[2020-12-23 13:10] abhinaba-ghosh commented on #41
@frysztak You can look into this to get the ground https://github.com/baruchvlz/resq/issues/76

[2020-12-26 15:58] abhinaba-ghosh commented on #100
Hi @WojtekMasiukiewicz . The fragment concept is already handled in the library. I am surprised that it is unable to determine the element. may I know what is the react version you are using?

[2020-12-26 16:31] WojtekMasiukiewicz commented on #100
I will check in few days.

sob., 26 gru 2020, 16:58 użytkownik Abhinaba Ghosh <notifications@github.com>
napisał:

[2020-12-29 20:09] frysztak commented on #41
hello again @abhinaba-ghosh, I finally took a look at your [repo](https://github.com/abhinaba-ghosh/cypress-react-chain-queries). chained queries don't work for React 16 as well. and seeing that this issue was created before React 17's release - it doesn't seem like it has anything to do with it

[2021-01-06 12:39] bahachammakhi opened #117 "cy.waitForReact is not a function"
Iam just trying this library i followed the steps in the setup guide but it still got this error :
**cy.waitForReact is not a function**

**Note: I am using it with typescript**

![image](https://user-images.githubusercontent.com/44755179/103768972-c68ae180-5023-11eb-9e0c-da1d2b131b19.png)

### my setup :
support/index.js file:
![image](https://user-images.githubusercontent.com/44755179/103769139-

[2021-01-06 12:46] abhinaba-ghosh commented on #117
Hi @bahachammakhi , Thanks for giving this library a try. I am seeing in your `cypress.json` file, you configured `supportFile:false`. can you try removing the line from the configuration. Let me know if that solves the issue.

[2021-01-06 13:12] bahachammakhi commented on #117
Thanks, @abhinaba-ghosh, that solves this issue! hope this will help others too, good work

[2021-01-06 13:12] #117 closed

[2021-01-06 13:15] abhinaba-ghosh commented on #117
I am glad it worked. In case you want to help the development going, you can [help here](https://www.buymeacoffee.com/abhinabaghosh). This is absolutely optional.

Happy coding!

[2021-01-07 16:57] matfer commented on #100
I have the same issue. Components with React.Fragment as first tag are not found by cy.react, and also all components inside it (recursively). I have one of the top level components in my app with React.Fragment, so basically no component can be found. On the other hand, App and any other component I put outside of it is found.

[2021-01-07 17:10] abhinaba-ghosh commented on #100
Hey, @matfer can you share a git repository where I can reproduce the error?

[2021-01-08 17:32] matfer commented on #100
I tried to reproduce in a new project, but the bug does not occur (tried with React 17.0.1 and 16.13.1). I cannot figure out why it happens in my app (that unfortunately I cannot share).
However I found a workaround: if I call 'visit' twice, it works. E.g. in the following code cy.react succeedes, while leaving just one 'visit' call it fails.
[code]

[2021-01-08 17:40] matfer commented on #100
Maybe it is not relevant, but I forgot to mention I am using Typescript.

[2021-01-08 19:07] abhinaba-ghosh commented on #100
That's good to know @matfer. As I said, the fragmented concept is handled internally already. The thing I want to highlight here is this library does not care about how the page is loaded. It only requires a stable loaded page to validate is react loaded by the root you provide. So, you need to check the page loading status when you call the `visit` only once. This is really interesting.

[2021-01-11 10:32] KyorCode opened #119 "Feat: Add Cypress options in react commands"
Hi,

I don't know if the Cypress options are fully respected.

`cy.react(
      "MyComponent",
      { props: { name: "testComponent" } },
      { timeout: 20000 }
    ).should("exist");`

The timeout I pass there isn't respected ( that component takes a little while to load due to api calls, 20sec is extreme I know ), but still the cy.react uses the default timeout + 100 sec to check if the compo

[2021-01-11 10:54] abhinaba-ghosh commented on #119
Hi @KyorCode , Thanks for writing. Cypress options currently not supported in `react` commands. This will be a good addition. Will look into it. Meanwhile, I appreciate any PR coming from the community.

[2021-01-11 11:10] Naethaniel opened #120 "cy.readFile() must be passed a non-empty string as its 1st argument."
Hello,

Recently we have updated our cypress-related packages:

"@testing-library/cypress": "^6.0.0" => "@testing-library/cypress": "^7.0.3"
"cypress": "^5.4.0" => "cypress": "6.2.1"
"cypress-react-selector": "^2.2.0" => "cypress-react-selector": "2.2.2"

After those changes we are having problem with `cy.waitForReact();`
In our test we are calling this method inside `it()`.
We are getting error:

[2021-01-11 11:21] abhinaba-ghosh commented on #120
Hi @Naethaniel , Recently this library got an upgrade on reading `resq` module internally. Now, we make use of `require.resolve` to read the module data [refer] (https://github.com/abhinaba-ghosh/cypress-react-selector/blob/04542b9a528406c596eaba7fe13326457019c00a/src/resqInjector.js#L9). Can you check if this causing the problem or not.

[2021-01-11 11:24] Naethaniel commented on #120
Not sure if thats what you meant but here is the screenshot from cypress directly:

![image](https://user-images.githubusercontent.com/16317579/104176656-e6494d80-5407-11eb-86ad-f02958240669.png)

and it looks like it is pointing to that line.

[2021-01-11 13:17] abhinaba-ghosh commented on #120
Yep, so I will update this check in the script in the new version. Keep an eye.

[2021-01-11 13:18] Naethaniel commented on #120
Awesome, thanks!

[2021-01-13 17:54] matfer commented on #100
How? Shouldn't waitForReact take care of that?

[2021-01-14 18:57] DaveHarlow opened #121 "cy.react/cy.getreact fail to find component mounted with @cypress/react after 1st test"
Steps to Reproduce:
1. Mount a component in 3 tests in the same file using @cypress/react
2. Use cypress-react-selector to attempt to find the component in each test
3. Run the tests in Cypress

Expected Results
Component found each time

Actual Results
Component is reliably found on the first test, always fails on the second and fails on the 3rd about 2/3rds of the time

I've added an example at

[2021-01-15 17:12] rhugie opened #122 "Inconsistent finding component"
I'm using the cy.react function to find a row in a list and select it. if I run it 10 times on the same list and same data, maybe half the time it will find the row and select it, the other half of the time it fails with "cy.click() failed because it requires a DOM element" which I assume means it hasn't found it.  Have tried adding cy.wait() before with different durations but even adding multipl

[2021-01-15 18:34] matfer opened #123 "Cannot get component property"
I have a date picker component that has no text input, only various buttons, so it would be difficult to set the date in tests by simulating clicks. So I would like to get the function stored in its onDateChange property to call it directly. However I cannot access the property.

With this
`cy.react('DateInput').eq(0).getProps('onDateChange').then(onDateChange => onDateChange(new Date(2021, 4, 4))

[2021-01-15 18:48] abhinaba-ghosh commented on #123
Hi @matfer , Thanks for raising this. According to [this](https://github.com/abhinaba-ghosh/cypress-react-selector#find-element-by-react-component)

`cy.react` returns a DOM element where `cy.getReact` retruns a [resq node](https://github.com/abhinaba-ghosh/cypress-react-selector/blob/04542b9a528406c596eaba7fe13326457019c00a/index.d.ts#L4). Rightfully, `eq()` is not supported with `getReact` as it

[2021-01-15 18:54] abhinaba-ghosh commented on #122
Hi @rhugie , Thanks for raising this concern. Can you provide detailed cypress error logs when it unable to find the element? The library has an inbuilt retry mechanism already, so it will be interesting to see what logs it spits out.

[2021-01-15 18:55] abhinaba-ghosh commented on #121
Hey @DaveHarlow Thanks for raising the concern with the maximum details possible. Appreciate it. I will spend some time over the weekend to dig deeper.

[2021-01-15 18:58] abhinaba-ghosh commented on #100
hey @matfer `waitForReact` tries to find out the react instance has established in a stable window. So, if your window getting refreshed (/ still loading) while `waitForReact` call going on, it won’t be successful. You can check out the code [here](https://github.com/abhinaba-ghosh/cypress-react-selector/blob/04542b9a528406c596eaba7fe13326457019c00a/src/resqInjector.js#L8)

[2021-01-15 19:27] #120 closed

[2021-01-15 20:04] m4tf3r commented on #123
Thank you, I will try as soon as I can. However, I often have sequences of those date picker components, so I would like to select them by index. Is there some alternative to eq()?

[2021-01-16 10:41] #119 closed

[2021-01-16 18:46] abhinaba-ghosh commented on #123
Hi @matfer , This is addressed in `v2.3.0`. You can fetch elements with below commands case by case basis,

1. `cy.react` returns DOM element, so you can fetch the indexed node by [.eq(index)](https://docs.cypress.io/api/commands/eq.html), like:

[code]

2. `cy.getReact()` return RESQ node, so you can't fetch it through `.eq()`. You need to use `.nthNode(index)`, like:

[code]
Give it a try and le

[2021-01-16 18:48] abhinaba-ghosh commented on #120
Hi @Naethaniel , This is addressed in `v2.3.0`. Feel free to re-open the ticket if the issue still appears.

If this library helps your development journey and want to get the improvement going, feel free to [sponsor](https://www.buymeacoffee.com/abhinabaghosh) the project 😄

[2021-01-16 18:48] abhinaba-ghosh commented on #119
Hi @KyorCode , This is addressed in `v2.3.0`. Feel free to re-open the ticket if the issue still appears.

you can also pass the `timeout` as a object literal in the react commands like,

[code]

If this library helps your development journey and want to get the improvement going, feel free to [sponsor](https://www.buymeacoffee.com/abhinabaghosh) the project 😄

[2021-01-18 17:31] matfer commented on #123
I tried with 2.3.0 and 2.3.1 but I get this error:
[code]
Looks like it is complaining about my ts file. It works fine if I go back to 2.2.2.

[2021-01-18 21:19] m4tf3r commented on #123
It is shown in the browser when I launch my Cypress test.

[2021-01-19 10:50] tobloef opened #128 "Webpack compilation error"
Whenever I try to run my Cypress tests on version `2.3.1`, I get the webpack compilation error described below. This has already been mentioned in [another issue](https://github.com/abhinaba-ghosh/cypress-react-selector/issues/123#issuecomment-762385693), but I thought it best to create a separate issue for this exact bug.

[code]

This seems to be caused by the question mark, which is invalid JS

[2021-01-19 12:20] #128 closed

[2021-01-19 12:25] abhinaba-ghosh commented on #128
fix available in `v2.3.2`

[2021-01-19 12:26] abhinaba-ghosh commented on #123
Hi @matfer , can you try `v2.3.2` and let us know the outcome?

[2021-01-19 14:13] matfer commented on #123
It works, thank you! However the index parameter of nthNode has ts type string, is this intentional?

[2021-01-19 14:15] abhinaba-ghosh commented on #123
Nice catch @m4tf3r , would you mind raising a small PR for [this](https://github.com/abhinaba-ghosh/cypress-react-selector/blob/3aaf3934e6e7cc2d31e79455e6dca548c470a221/index.d.ts#L99)

[2021-01-19 14:28] matfer commented on #123
Done! #130

[2021-01-19 16:56] abhinaba-ghosh commented on #123
@m4tf3r available in `v2.3.3`. Please verify.

[2021-01-21 12:10] DaveHarlow opened #132 "Yarn 2 requires resq to be installed explicitly and unplugged when using cypress-react-selector"
There's an easy workaround (in the title) but cypress-react-selector fails when using PnP due to attempting cy.readfile() on resq, due to PnP storing everything as an archive instead of unpacking.

Can be got round via:

yarn add resq -D
yarn unplug resq

But might be worth adding to the readme?

[2021-01-21 12:31] abhinaba-ghosh commented on #132
@DaveHarlow Thanks for the input. Appreciate a PR as you have hands-on experience with this.

[2021-01-21 12:33] DaveHarlow commented on #132
No worries - I'll add it once I'm off the work VPN, just didn't want to push readme changes without your say so.

[2021-01-21 12:35] #132 closed

[2021-01-21 12:35] abhinaba-ghosh commented on #132
No issues.

[2021-01-21 12:36] #123 closed

[2021-01-22 15:51] 0xIslamTaha commented on #94
@abhinaba-ghosh I can confirm it occurs with me too. I'm using Ubuntu 20.01 and Cypress 4.12.0. I had to install V 2.2.0 to solve it.
![image](https://user-images.githubusercontent.com/17981089/105512747-ccdeb600-5cd1-11eb-80ef-c1405fc9ec5a.png)

[2021-01-22 16:13] abhinaba-ghosh commented on #94
@0xIslamTaha is it also happening with the latest version of cypress-react-selector? Can you confirm?

[2021-01-22 16:20] nickpalmer commented on #94
require.resolve was add in node version v0.3.0:
https://nodejs.org/api/modules.html#modules_require_resolve_request_options

The only reason I can think that it would not exist is that you are running on a very old version of node.

That said we have moved away from cypress-react-selector, but the code suggested by @dmlogs above should work in versions of node missing require.resolve.

[2021-01-22 16:36] abhinaba-ghosh commented on #94
Thanks @nickpalmer and @dmlogs , the suggested code is deployed to `v2.3.4`

[2021-01-22 16:36] #94 closed

[2021-01-22 17:11] 0xIslamTaha commented on #94
@nickpalmer here is my running node
[code]

[2021-01-22 17:17] 0xIslamTaha commented on #94
Thanks man, 2.3.4 is working fine.

[2021-01-22 17:27] nickpalmer commented on #94
We don't use typescript but apparently it uses a custom implementation of resolution. Telling it to use Node's version via `--moduleResolution node` _might_ fix it but v2.3.4 should work in both situations.

TypeScript's replacement is breaking Node's API contract of offering require.resolve and they really should add a .resolve to their implementation so as not to break the API Node offers.

See:

[2021-01-22 17:36] 0xIslamTaha opened #134 "can't find an element using the childern props"
Here is the react DOM and I'm trying to do ` cy.react('Button', {props: {children: "Add bug division"}}).click();`, but cypress can't find the element based on this values.
![image](https://user-images.githubusercontent.com/17981089/105524793-7167f480-5ce0-11eb-938a-bb666db1e335.png)

Here is the Cypress error:
![image](https://user-images.githubusercontent.com/17981089/105524981-b2f89f80-5ce0-11e

[2021-01-22 17:37] nickpalmer commented on #94
Issue filed with TypeScript so hopefully they will stop breaking the Node API at some point with their override.

[2021-01-22 17:53] abhinaba-ghosh commented on #94
Great input @nickpalmer . Thanks for letting us know.

[2021-01-24 21:33] Twiggeh opened #135 ".each & .wrap break .react()"
Sorry if I am not using your plugin correctly, I was iterating over all clickable images and checking whether they spawn a modal like they are supposed to.

When using `cy.wrap` `cy.react` is no longer able to find anything, but when I use `image.trigger("click")` it doesn't trigger that click on the second iteration of the loop.

It seems like `.each` and `.wrap` have a funky interaction with `.r

[2021-01-25 13:08] 0xIslamTaha commented on #134
@abhinaba-ghosh any suggestions?

[2021-01-26 13:06] tobloef commented on #100
I think I'm having a problem that might be related to this issue. I have a component like this:

[code]

Which I try to select like this:
[code]
If `Dashboard` looks like this, it will not work:
[code]
But if it looks like one of the two cases below, it will work:
[code]
or
[code]

[2021-01-26 17:25] Twiggeh opened #136 "Infinite loop on cy.getReact"
`cy.getReact('ModalButton').nthNode(0).should('exist').trigger('click');`

Produces this result, if getReact cannot find a component
![broken](https://user-images.githubusercontent.com/23149166/105880250-6fb17000-6003-11eb-9cc8-090fc6897e94.gif)

<details>

<summary>Whole it</summary>

[code]
</details>

[2021-01-27 11:05] Jsijbel commented on #136
I get the same result when using the following command.

`cy.getReact('*', { props: { value: { item: true } } })`

[2021-01-28 11:37] gshrimpling67 commented on #94
The implemented fix breaks my setup with the same syntax problem as #128. I have made this hack to get running (although I could just call require.resolve without testing it since the property does exist).

`const file = require.hasOwnProperty('resolve') ? require.resolve('resq') : 'node_modules/resq/dist/index.js';`

node v14.15.4, cypress-react-selector v2.3.4, typescript v4.1.3 in my project. O

[2021-01-28 15:26] maga-polito commented on #136
same result, on  cy.react('MyComponent').should('have.length', 1)

[2021-01-29 18:21] matfer opened #137 "Shouldn't getReact search only among descendents of the resq node passed by the previous command?"
Reading the docs I understand that getReact searches only among the descendants of the resq node passed by the previous command. So for example `cy.getReact('A').getReact('B')` should search for B only among A's descendants. I got this right?

If yes, I added this test to calculator.spec.js, which is failing
[code]
It should get the element at index 2, then among its descendants get the element at

[2021-02-01 04:57] abhinaba-ghosh commented on #136
Hi guys, thanks for reporting this behavior. I am looking into it. Can you share the `cypress.json`/ cypress configuration in this case?

[2021-02-01 04:59] abhinaba-ghosh commented on #137
Hi @matfer , you are correct. This is always the desired outcome in any test automation scenario. Currently, We are blocked due to this: https://github.com/abhinaba-ghosh/cypress-react-selector/issues/41

Happy to get help.

[2021-02-01 05:03] abhinaba-ghosh commented on #134
@baruchvlz can we access the `children` directly using resq?

[2021-02-01 05:16] abhinaba-ghosh commented on #94
Hi @gshrimpling67, a patch release is made `v.2.3.5`. Let me know if that solves the issue for your case.

[2021-02-01 09:42] Twiggeh commented on #136
@abhinaba-ghosh [Here is the cypress.json](https://github.com/Twiggeh/Portfolio/blob/master/client/cypress.json)

[2021-02-02 09:40] Jsijbel commented on #136
Our cypress.json:
[code]

[2021-02-04 06:41] abhinaba-ghosh commented on #136
folks, I am unable to reproduce the bug with my tests and setup. However, I will pull down the repo from @Twiggeh to dig deeper.

I am using cypress-react-selector `v.2.3.5`

[2021-02-04 08:59] Jsijbel commented on #136
I noticed in your reproduction video you used the cy.react function and not the cy.getReact function. I had the problem with the getReact function. I believe cy.react() did error when the component was not found.

https://user-images.githubusercontent.com/39823861/106868848-93de1280-66cf-11eb-8ee6-513a48a838a0.mp4

[2021-02-04 09:07] abhinaba-ghosh commented on #136
Thanks, I am able to re-produce the same.

[2021-02-04 10:29] abhinaba-ghosh commented on #136
Hi, the fix is available in `v2.3.6`. Feel free to reopen the ticket if the issue still exists.

On a different note, [Sponsor](https://www.buymeacoffee.com/abhinabaghosh) this project to prioritize the bug fixes and feature requests.

[2021-02-04 10:29] #136 closed

[2021-02-05 18:08] abhinaba-ghosh commented on #134
Hi @0xIslamTaha, Just trying to debug here, can you enable the typed filter and retry the op[eration with updated props?
<img width="628" alt="Screenshot 2021-02-05 at 11 32 52 PM" src="https://user-images.githubusercontent.com/23141842/107071708-220ae380-680b-11eb-9271-091c1ccd1149.png">

[2021-02-07 17:11] TheDiveO opened #141 "[with public example] Not able to find react component"
Hi Abhinaba,

this is my first contact with cypress-react-selector (and Cypress), so please bear with me especially in case of stupid mistakes.

I've also fallen victim to the dreaded `cy.then() timed out after waiting 4100ms` when trying to locate a component using `cypress-react-selector`. Searching for some time, I came across issue #58. At the end of that issue you're asking for a proper code

[2021-02-07 18:59] TheDiveO commented on #141
May this be related to the fact that the `Refresher` component returns `<>...</>`?

Using `getReact()` seems to be able to successfully locate the `Refresher` component RESQ node, but now I'm stuck with how to get a DOM element from there so I can click on it:

    cy.getReact('Refresher').nthNode(0).getReact('IconButton').click()

[2021-02-07 19:06] abhinaba-ghosh commented on #141
Hi @TheDiveO , Today I am away from the keys. However, I just got some time to reply from my kobioe. Will take a deep look this week.

Although, let me clarify the fact that .getReact() returns RESQ node, where .react() returns DOM node. RESQ node is helpful for determining runtime react properties, not for interacting with DOM elements. So to be able to click the element, convert the getReact cal

[2021-02-07 19:09] TheDiveO commented on #141
Thank you for your quick response, enjoy your time off the keys! Unfortunately, `cy.react('Refresher').eq(0).react('IconButton').click()` fails to locate the Refresher component, I suspect because that component returns a `<>` pseudo component with several children inside?

[2021-02-07 19:12] abhinaba-ghosh commented on #141
Possibly the usual suspect. I will pull down your branch and will have a deep look. Thanks for the detailed information.

[2021-02-13 16:52] TheDiveO opened #143 "option to switch off getReact('Foobar').should('not.exist') complaining in test log?"
While working on a test case involving `React.Suspense` with a fallback component I noticed that `getReact('Foobar').should('not.exist')` complains as follows:

    Component not found <Foobar> There can be multiple reasons for it. > Component never meant to exists. You are good to go.

Now, in case the "good to go" case, how can I switch off this complaint just for this `getReact()`? Switching of

[2021-02-13 21:22] ahaddad-dia opened #144 "The plugin takes in account the ForwardRef"
When writing a command like
`cy.react('TextField', { props: { label: 'Project Title' }})`
the cypress yields more than one elements. After an investigation it seems that it looks at the ForwardRef, too.
This means that you can't type() because this function requires only one element. A workaround is to add a unique prop which exists inside the desired component like this
`cy.react('TextField', { p

[2021-02-15 06:28] abhinaba-ghosh commented on #144
Hi @ahaddad-dia , while it is a good idea to add an option to selectively ignore a `ForwardRef`, meanwhile you can fetch the element by index and try to type on it.

[code]

[2021-02-15 06:29] abhinaba-ghosh commented on #143
Hi @TheDiveO , Thanks for suggesting this.

[2021-02-15 09:44] #144 closed

[2021-02-15 10:26] ahaddad-dia opened #145 "Chained commands doesn't work."
I've already checked the [cases](https://github.com/abhinaba-ghosh/cypress-react-selector/issues/48) where the chained command doesn't work, but it doesn't seem to be that issue here.
![nochain](https://user-images.githubusercontent.com/77851409/107934363-a33f4480-6f88-11eb-9ae7-7289455a29f5.png)

I'm getting the same results with or without the first getReact. If the chain command worked nthNode

[2021-02-16 23:12] Twiggeh opened #146 "Be able to compare props.children"
I am not sure whether crs can compare children props, but it doesn't seem like it does.

I tried selecting a specific button with `.react('Button', { props: { children: 'Upload !' } }`, but it couldn't find anything, looking at the `getReact` output, there is no children in the logged props object.

Would be cool to be able to select buttons and stuff by the string they display :D

[2021-03-07 17:14] burke-newell opened #152 "Running .should() against .getCurrentState() should re-run on fail until timeout"
With the test below I am checking for an animation to be finished.
The `isAnimationFinished` state will become true after 1.5 seconds, but `.getCurrentState()` does not get called/tested again when the assertion fails.
I would expect `.getCurrentState()` to be retried until the timeout period passes.

[code]
![2021-03-07_12h03_40](https://user-images.githubusercontent.com/69968530/110248056-3db5f6

[2021-03-08 19:40] burke-newell commented on #152
@bahmutov suggested https://github.com/bahmutov/cypress-recurse
Which worked great to handle this scenario.

[2021-03-08 19:40] #152 closed

[2021-03-08 19:50] abhinaba-ghosh commented on #152
Hi @burke-newell, can you let us know how you are using the code lugin with cypress-react-sepector. Will be helpful for those who fall under the same problem.

[2021-03-08 20:06] burke-newell commented on #152
[code]

[2021-03-11 05:25] rmrao12 opened #154 "how to get component with keys? array components."
i don't how to test components using key feature of react e.g Card key="Went Well0" and it  goes as you click on more card components i want to pick this component and click on certain aspects of this component which are not in props in and states so probably by picking up css or i of buttons maybe please tell me cz i can not do it directly i need to pick component first

[2021-03-17 11:23] rmrao12 opened #157 "please tell me how to install cypress-react-selector step by step and also how to start this?"
first i installed cypress then this dependency of cypress react selector but i was not able to find tsconfig.json well after that i run cypress by using the command npx cypress open it did open but it is only running those pre defined test cases. well then i tried to copy the calclulator.spec.js in it and tried to run it but it said waitforreact is not a valid command and all other commands as wel

[2021-03-17 14:52] JochenDiekenbrock opened #158 "React component in Shadow DOM is not found"
I want to test a Web Component that is implemented with React and is using a shadow dom.
The DOM tree (simplified) looks like this:
[code]

`cy.waitForReact();` works as expected, so the root id is set correctly and React is loaded.
`cy.react("MyReactComponent");` fails with `Could not find instance of React in given element`

I verified with the React Dev Tools that the React component name is co

[2021-03-18 17:14] axelprog commented on #42
This issue reproduced in `v2.3.6`  with material-ui

I use the next code for test
[code]

I tried use `be.visible`, `not.exist`, `have.length` in `.should()`. Also I tried change `NavBar` and `NavItem` with name property and in this case  works
[code]
but it fails with the same error if I use `.should('not.exist');`  And the same behavior if I add ` exact:true` to the second `.react` call and sele

[2021-04-22 11:19] saravananvi358 commented on #128
I have issue in my feature file
![image_2021_04_22T10_55_41_507Z](https://user-images.githubusercontent.com/30524443/115705862-ad1b6480-a38a-11eb-80c5-dcf16291e175.png)

[2021-04-30 01:02] taralx opened #176 "cy.get(...).react(...) does not work"
The subject is JQuery, but resq expects an HTMLElement. So it ignores the subject and does a global search.

[2021-05-07 11:47] vkryviak-magine opened #180 "cypress-react-selector and preact"
Is it possible to work with `preact` somehow? https://preactjs.com/
Thank you for a good product.

[2021-05-08 06:07] abhinaba-ghosh commented on #87
@sovanyio Thanks for bringing the issue under the light. Can you confirm if the window gets reloaded every time you load a component? If so, you need to call `waitForReact` each time. I am interested in the codebase, can you share any repository where I can re-produce the bug?

[2021-05-08 09:02] #176 closed

[2021-05-08 09:04] abhinaba-ghosh commented on #157
Hi @rmrao12 I suggest you kindly go through the readme step by step by process. If you already followed and having trouble, kindly provide me with the repository, I will help you make the necessary changes. Thanks.

[2021-05-08 09:04] #157 closed

[2021-05-08 09:07] abhinaba-ghosh commented on #145
duplicate of #176

Kindly keep an eye on that ticket. I will update.

[2021-05-08 09:07] #145 closed

[2021-05-08 09:25] abhinaba-ghosh commented on #176
@taralx Please try the latest version of cypress-react-selector. This issue should get fixed, let me know otherwise.

[2021-05-08 09:27] abhinaba-ghosh commented on #145
@ahaddad-dia Please try with the latest version of cypress-react-selector.
And, keep in mind, if your aim is to chain`getReact` with a `subject` that returns a DOmM element, then chain it with `react` command -

[code]

[2021-05-14 15:57] sovanyio commented on #87
Just want to drop a note that this hasn't fell off of my radar, life got unexpectedly busy this week. I will try to get something up next week.

[2021-05-25 08:29] rmrao12 opened #192 "not able to find react component due to forwardref type of components"
hi i am trying to test this website https://www.retrospected.com/
but i am unable to do it because their react components are of forwardref type and that is why this cypress is giving an error. is their any way to access these kind of components because i need to test this site using react components props etc i am attaching two pictures one with the error and one with the website type of componen

[2021-05-25 08:33] rmrao12 commented on #87
i think it is because of forwardref type react components i think this plugin does not support them cz i also tried fetching them but it's not working
![Image 5](https://user-images.githubusercontent.com/69012629/119466101-bd45ab80-bd5d-11eb-8df3-5a0f4f0d1ec8.jpg)

[2021-05-27 04:28] dnasyrov commented on #134
Hi @0xIslamTaha
I also faced the same problem.
I check filter, and he enabled, but still not work

[2021-05-28 14:50] junminleeKS opened #195 "cy.react(...) unable to find requested element"
Hello,
I apologize that I cannot describe exactly why I am having this issue but I been having trouble with `cy.react()` finding the element that I am looking for.

I have created a demo that reproduces the issue:
https://github.com/junminleeKS/cypress-react-selector-test

The demo contains a test file that can be used by running `cypress open`. By running it as is the tests will fail.

However, i

[2021-06-03 07:56] chdg61 commented on #121
Hello.
I have the same problem.
Have you not done this task yet?

[2021-06-04 04:44] abhinaba-ghosh commented on #121
Hi @chdg61 , i am really busy with day to day activities. But will defuse have a look in the upcoming weekend.

Till then have a look in this example https://github.com/abhinaba-ghosh/cypress-react-selector/blob/master/component/components/ProductsList.spec.js

[2021-06-04 08:16] chdg61 commented on #121
OK. I see. I found out a problem. If I use resq$ without this wrapper then I get the same result.
The first test is correct, others are not.

I tried running native resq$ by example:

[code]

As result, the first request has returned the correct data as ReactComponent.
But the second request has returned only that object:
[code]

[2021-06-04 08:20] abhinaba-ghosh commented on #121
Hey @chdg61 you have to mount and waitForReact before **each** test. Can you confirm the same?

[2021-06-04 09:11] chdg61 commented on #121
Yes. I call mount and waitForReact inside a test. Because I have different components and props for render for each test.

I've played with resq$ library and found out that if I use this library without calling waitToLoadReact so it works correctly.

So this library lets use root element as the second argument: `resq$('My*Component', root);`

After was looking at the code of your library I tried t

[2021-06-04 09:16] chdg61 commented on #121
If I will have free time I will try to make PR to fix it.

Sure, If I can understand all code and context inside the library :)

[2021-06-04 09:50] abhinaba-ghosh commented on #121
@chdg61 , that will be appreciated. Just wanted to check something, have you configured the `root` inside of your `cypress.json` file as depicted [here](https://github.com/abhinaba-ghosh/cypress-react-selector/blob/b4b5e3a4d802d2313e8ab6f0ea0ab2d95a58c5a5/cypress.json#L11)

[2021-06-04 10:12] chdg61 commented on #121
Hm... You are right. I didn't it.

Now it's OK. I've added the environment and remove `get("#__cy_root")` and it's working.

Thank you.

I think that param of the environment must be required if a user uses @cypress/react

[2021-06-04 10:30] abhinaba-ghosh commented on #121
@chdg61 I am glad that it worked. Thanks again for digging deep into it.

@DaveHarlow I invested in your attached codebase and figured out the `root` information is missing. Let's add and retry the tests. Feel free to open this ticket if the issue still persists.

[2021-06-04 10:30] #121 closed

[2021-06-09 09:34] abhinaba-ghosh commented on #195
@junminleeKS This is interesting. Internally the commands retry up to timeout. It should have handled the asynchronous loading of the components. I will dig deeper.
Can you also check this example : https://github.com/cypress-io/cypress/blob/56234e52d6d1cbd292acdfd5f5d547f0c4706b51/npm/react/cypress/component/advanced/react-book-example/src/components/ProductsList.spec.js#L123

[2021-06-09 18:48] abhinaba-ghosh commented on #158
Hi @JochenDiekenbrock , sorry for replying late on this. I have tested a couple of scenarios and it seems shadow DOM is well supported. You can check out the example [here](https://github.com/abhinaba-ghosh/cypress-react-selector/tree/master/component/shadow-dom)

Give a chance with the latest version or clone the repo and try the tests locally. Let me know your findings.

[2021-06-11 06:47] #158 closed

[2021-06-13 12:04] JochenDiekenbrock commented on #158
Hi @abhinaba-ghosh, I tried it again and created a publicly accessible example: https://github.com/JochenDiekenbrock/lerna-cypress/tree/add-test-with-custom-web-component
My first guess was wrong, the problem is **not** caused by the shadow-root but by the react component being rendered inside a custom web component. Sorry for that!

In my example, please just ignore the lerna stuff, that is used

[2021-06-13 16:29] jens-duttke commented on #195
I have the same problem. Is there a debug/verbose option, or something similar to see which components `cypress-react-selector` "sees"? Maybe it would make sense to optionally show the component tree, if a component could not be found?

[2021-06-14 05:45] jens-duttke opened #201 "Only add files to the `npm` bundle which are really required."
Right now, almost everything is part of the `npm` bundle.
To improve the bundle size, the required disk space and the installation performance it would be good if files/folders like:

- .circleci
- .guthub
- component
- cypress
- .prettierrc
- cypress.json

would be added to the `.npmignore` file.

[2021-06-14 06:31] jens-duttke commented on #195
I've just figured out that the source of my problem is in the `displayName` handling of the `resq` dependency, and has nothing to do with asynchronous loading of components. I've created a issue in the `resq` issue tracker for that:
https://github.com/baruchvlz/resq/issues/78

[2021-06-17 15:55] abhinaba-ghosh commented on #201
Hi @jens-duttke Thanks for pointing this out. The folders are ignored at `v2.3.10`

[2021-06-17 15:55] #201 closed

[2021-06-18 02:56] KerickHowlett commented on #120
This issue should be reopened, because I'm encountering the same problem with what I'm working on in my Nrwl/Nx monorepo.

![image](https://user-images.githubusercontent.com/8661181/122499611-33d17400-cfbf-11eb-84bc-497ba9058c5a.png)

To get it to work, I have to hard code the absolute file path, which obviously isn't a valid option.

[2021-06-20 15:04] rmrao12 opened #204 "test keeps on failing but they passed on first few tries and component is clearly there"
as u can see in the snap the test is failing i dont understand why because component is there the test run in first few tries but now it says component not found please solve this issue for me because i had to demonstrate these test cases but they are failing now i dont know why please check in another snap that component is present
![Image 2](https://user-images.githubusercontent.com/69012629/122

[2021-06-20 16:20] abhinaba-ghosh commented on #204
Hi @rmrao12 can you share the test code?

[2021-06-20 16:50] rmrao12 commented on #204
![Image 7](https://user-images.githubusercontent.com/69012629/122682184-67a3d800-d211-11eb-849d-cdbb7add6fc6.jpg)

![Image 6](https://user-images.githubusercontent.com/69012629/122682103-fa904280-d210-11eb-9373-ec30f6fac6f2.jpg)

it also gives this error sometimes , but as i said it does pass one time fails second time or if there are two test cases then first one runs second one failed

![Image 8

[2021-06-20 18:32] abhinaba-ghosh commented on #204
Please re-check the root selector in cypress.json file. I will write a utility to fetch the root automatically in the next release. Till then try to fetch relavent root selector.

[2021-06-22 07:36] rmrao12 commented on #204
how to do that kindly guide me?

[2021-07-02 07:47] jens-duttke opened #209 ""Component not found" because of not considered `displayName`"
Previously, the used `resq` dependency did not consider the `displayName` as it's done in the React Dev Tools.
The result was that, it was not possible to find components by their name, if their `name` is minified, even if they had a `displayName`.

I've provided a a fix for that, which has now been merged and released in `resq` version `1.10.1`.

Can you please update `cypress-react-selector` to

[2021-07-02 15:36] abhinaba-ghosh commented on #209
Thanks @jens-duttke , it is available in the current version.
would you mind updating the readme for the `displayName` stuff. It will be really helpful for others.

[2021-07-02 15:36] #209 closed

[2021-07-05 17:28] smerling-coremedia commented on #192
I have the same problem atm. The thing is, property "children" is not really a string. If you use cy.getReact(...).getProps() you'll see, it is an array of all children and the are objects themselves. I think it is a problem when using Material UI like your example website does and also my project.

[2021-07-05 17:29] smerling-coremedia commented on #192
see: https://github.com/abhinaba-ghosh/cypress-react-selector/issues/134

[2021-07-05 17:34] smerling-coremedia commented on #134
Same Problem here. Using Material UI 4 with React Intl 5. When you manage to locate the element and have a look at its props with cy.getReact(...).getProps() you'll see, that "children" is not the string you see in the react dev tools, but an array of all its children. They are then objects with all the props.

[2021-07-06 13:27] abhinaba-ghosh commented on #134
Hi @smerling-coremedia, thanks for bringing this. Due to the tight schedule this month, I will not be able to look into this issue. Appreciate a PR.

[2021-07-06 13:39] smerling-coremedia commented on #134
I'll try :)
And thank you for this great tool! I really like working with it

[2021-07-06 14:36] olumikey198 commented on #128
![image](https://user-images.githubusercontent.com/87025948/124618531-c737ef80-de6f-11eb-84c2-832f0ee7ed3f.png)

Can anyone help with this please as it seems like I am having issues with my feature file but no idea what the problem is

[2021-07-06 14:41] abhinaba-ghosh commented on #128
hey @olumikey198 , It seems the issue with the webpack can not identify the `.feature` files. This is not related to this library. You can check with the gherkin/cucumber utility you are using under the hood.

[2021-07-09 08:31] andrei0807 opened #212 "Can I change state of component by selector?"
I want to change state of component by this select.
I found component and I know how to change props.
and I got state by getCurrentState.  but I don't know how to change state value.
Please help me.

[2021-07-09 08:34] abhinaba-ghosh commented on #212
Hi @andrei0807 thanks for bringing this up. can you let me know how you are changing/altering the props? I can try replicating the same with state.

[2021-07-09 08:39] andrei0807 commented on #212
Thanks for your response.
![image](https://user-images.githubusercontent.com/32348752/125049979-20a05880-e0d4-11eb-888c-ce8c4ff5a6f3.png)
![image](https://user-images.githubusercontent.com/32348752/125050003-25fda300-e0d4-11eb-8c44-ebd1e11d18fa.png)
I found like component.
I am going to change tabIndex status.
How can I do it?

[2021-09-12 01:05] francisu opened #230 "yarn 2 support does not work"
Get this error[1] when using yarn 2 (pnp)

I tried removing the check for 'hasOwnProperty' in resqInjector, but that failed as well, as it looks like webpack did not properly insert the pnp magic in place of the require.resolve[2]

I also tried yarn unplug cypress-react-selector to no avail.

I will work on it a bit more to see if I can find a solution.

[1]

cy.readFile("../../.yarn/cache/resq-np

[2021-09-13 04:32] francisu commented on #230
To reproduce:

(will open GUI - Click on the first test)
====> The error will happen at that point

[2021-09-13 04:39] francisu commented on #230
I think this is really a cypress issue: https://github.com/cypress-io/cypress/issues/18072

[2021-09-13 16:55] francisu commented on #230
This can be worked around by doing a `yarn unplug resq`

[2021-09-21 19:26] francisu commented on #87
I have the same problem. I'm using cypress 8.4.1. When running multiple tests using component testing (open-ct), the second test fails to find anything. If I reverse the tests, the first test always passes. I have debugged this to (line 221 in reactHandler v2.3.11):

           ` elements = window.resq.resq$$(component);
`

`elements` in this case is an empty array.

I have tried this using `cy.wa

[2021-09-21 19:59] francisu opened #235 "Fails to find a component in 2nd test case when using component testing"
I'm using cypress 8.4.1. When running multiple tests using component testing (open-ct), the second test fails to find anything. If I reverse the tests, the first test always passes. I have debugged this to (line 221 in reactHandler v2.3.11):

    elements = window.resq.resq$$(component);

`elements` in this case is an empty array.

I have tried this using `cy.waitForReact()` after the mount in eac

[2021-09-21 20:09] francisu opened #236 "Documentation for cy.waitForReact() incorrect when used with component testing"
The correct way to use this is simply `cy.waitForReact()` without specifying the `root` argument (including using the `root` env variable). Specifying the `root` as `#app` which is the actual React root in the component testing browser will not work, neither will `#root`.

I don't know why any of this is true, but that's what works, so the documentation should reflect that.

[2021-09-21 20:51] abhinaba-ghosh commented on #236
Hi @francisu, appreciate a PR. These are all valuable suggestions.

[2021-09-21 21:45] francisu commented on #236
Happy to make a PR, but I don't understand why it's different for component tested applications, and I think that would be helpful to know before I change the doc. And it would also be go to have https://github.com/abhinaba-ghosh/cypress-react-selector/issues/235 resolved first (in case it is actually related to the `waitForReact` config), since this plugin is essentially unusable with component t

[2021-09-29 13:53] ofekudi opened #238 "Accessing component on minified react app"
Hey.
I'd like to integrate cypress with a React app. Unfortunately, the Create React App build minifies the code, so cypress-react-selector can't recognize component names.
Is there a suggested solution for this?
Thanks

[2021-10-02 21:28] anirudhb commented on #235
I had this same issue. After digging through the resq code, I discovered it internally keeps its own variable as to whether it had already loaded. I was able to workaround this issue by resetting that variable in my `beforeEach`:
[code]

[2021-11-02 02:37] laurence-myers commented on #104
I played around a bit. I found issue #251. I also found that a minified build had no problems finding a React instance, but an unminified build did. Is Next.js doing something odd?

`resq` looks for keys/properties on the React root HTML element, either `_reactRootContainer` or something beginning with `_reactInternalInstance` or `_reactFiber`. Stepping through in a debugger, the HTML element has

[2021-11-02 11:36] abhinaba-ghosh commented on #41
This is now fixed with https://github.com/abhinaba-ghosh/cypress-react-selector/pull/251

Example - https://github.com/abhinaba-ghosh/cypress-react-chain-queries

[2021-11-02 11:37] #41 closed

[2021-11-02 11:38] abhinaba-ghosh commented on #137
Hi, this is now fixed with version 2.3.13 ( #251 )

Example - https://github.com/abhinaba-ghosh/cypress-react-chain-queries

Feel free to re-open the ticket if you find any issues.

[2021-11-02 11:38] #137 closed

[2021-11-02 19:35] ravitejajavvadi opened #252 "when i'm executing the test cases it getting error in test runner "Webpack Compilation Error". Could you please provide valuable suggestions."
![test runner issue](https://user-images.githubusercontent.com/39461175/139940386-aaf5257f-af83-4b3a-a37e-a6c6ce47811c.png)

[2021-12-08 14:24] irfancankalelikargo commented on #192
Still an issue

[2021-12-23 12:44] maxencelaurent commented on #238
If you had control over the webpack configuration, you could use [webpack-react-component-name](https://www.npmjs.com/package/webpack-react-component-name).

Your problem is `create-react-app` will not let you configure webpack.

[2021-12-25 10:44] #230 closed

[2022-01-07 16:53] ajhenry opened #273 "waitForReact throws an error when using Webpack"
When using webpack with `require.resolve`, this will return a number rather than a path so this breaks the `waitForReact` function.

Webpack warning when using `require.resolve`: https://webpack.js.org/api/module-methods/#requireresolve
Issue describing that `require.resolve` returns a dependency ID in webpack: https://github.com/webpack/webpack/issues/1554

Code that uses `require.resolve`
https:

[2022-01-09 09:35] abhinaba-ghosh commented on #273
Hi @ajhenry thanks for raising this issue.
According to this [comment](https://github.com/webpack/webpack/issues/1554#issuecomment-336462319), it seems using `eval` could be a viable solution. Can you give it a try and raise a PR?

[2022-01-09 09:38] abhinaba-ghosh commented on #104
Hi @bkirove, as this [PR](https://github.com/baruchvlz/resq/pull/83) is merged and a new version of resq is released, can you give it a try for this problem and raise a PR?

[2022-01-11 18:56] abhinaba-ghosh commented on #252
Hi @ravitejajavvadi , thanks for raising the issue.
It seems the webpack loader issue. Can you re-check/share your webpack configurations?

[2022-01-14 23:38] ajhenry commented on #273
So I tried the solution with `eval` and that returned a weird webpack internal object rather than a path so I'm going to keep investigating

[2022-01-20 16:04] #273 closed

[2022-01-23 16:59] abhinaba-ghosh commented on #238
Hi @ofekudi , can you please check if these tickets help?
https://github.com/abhinaba-ghosh/cypress-react-selector/issues/209
https://github.com/abhinaba-ghosh/cypress-react-selector/issues/83

[2022-01-23 16:59] #238 closed

[2022-01-23 17:00] abhinaba-ghosh commented on #195
Hi @jens-duttke , i think this is handled by https://github.com/abhinaba-ghosh/cypress-react-selector/issues/209
Feel free to reopen the ticket otherwise.

[2022-01-23 17:00] #195 closed

[2022-01-23 17:02] #236 closed

[2022-02-07 20:24] francisu commented on #230
Update for those using 2.3.15 or higher. The `yarn unplug resq` no longer works by itself. You can however use this code to locate the package and give the name to cy.waitForReact().

In your cypress/plugins/index.js:

[code]

And when you call `cy.waitForReact()`:

[code]

[2022-02-07 21:07] francisu commented on #132
See: https://github.com/abhinaba-ghosh/cypress-react-selector/issues/230#issuecomment-1031885793

[2022-02-23 05:44] drecali commented on #58
Thank you @abhinaba-ghosh for the advice below (and of course for maintaining such a useful plugin 🙏 )! My tests were passing locally in `headless` and `headed` mode, but `cy.react()` could never find the right components in the deployed version. In case it helps others, I'll include a comparison of how different my component names were.

| Local | Deploy |
|--|--|
| ![image](https://user-images.g

[2022-02-23 06:07] abhinaba-ghosh commented on #58
Hi @drecali you can try this solution - https://stackoverflow.com/a/69760307

[2022-03-22 05:30] saqrodiliac opened #302 "Cannot read properties of undefined (reading 'waitToLoadReact')"
I'm trying this library out for the first time by following the cypress.io instructions to get started.  Unfortunately when testing my application (by running cypress) I get the following error message:

![image](https://user-images.githubusercontent.com/31184243/159413052-49434169-2182-40bf-bbbe-00bb56748367.png)

Placing a debugger on that line, I can see that win.resq is undefined making me thi

[2022-03-28 10:35] abhinaba-ghosh commented on #302
Hi @saqrodiliac thanks for raising the issue. Without the proper visibility, it is difficult for me to reproduce. Is there a way I can reproduce it?

Can you also verify if the `window` object is loaded before we call the `waitForReact`?

[2022-03-31 14:31] azaeng199104 opened #307 "Would this work with 3rd party libraries? Such as Material UI?"

[2022-04-01 06:48] abhinaba-ghosh commented on #307
It should be. Can you elaborate the problem statement please?

[2022-04-01 09:14] azaeng199104 commented on #307
@abhinaba-ghosh it is actually related to this issue #192.

[2022-04-01 09:14] #307 closed

[2022-04-21 14:57] vijaykumar19 opened #314 "getting webpack-dev-server warning on resqInjector.js attaching the error."
Compiled with problems:X

WARNING in ../../node_modules/cypress-react-selector/src/resqInjector.js 12:15-22

Critical dependency: require function is used in a way in which dependencies cannot be statically extracted

I am stuck here and i see a fix for this in webpack-dev-server but however, along with cypress/webpack-dev-server it didnt work. Kindly help with here.  Attached screenshot of the ov

[2022-04-22 03:31] jpalomar commented on #314
could it be that `webpack-dev-server` is displaying an error?

https://webpack.js.org/configuration/dev-server/#overlay

[code]

Applying this configuration to a `webpack` build will remove the warning from being displayed.

but it will not mask the warning from cli:
[code]

[2022-05-12 14:28] jime2003 commented on #192
I just started using Cypress reach selector and I have exact same issue. @abhinaba-ghosh  - are we going to fix the issue or any other work around?

[2022-05-13 15:54] alvarp opened #320 "Selectors are failing when upgrading to React 18"
After upgrading to React, all the selectors are failing under the next message:
[code]

The project has the root initialized as [the React upgrade guide explains](https://es.reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-client-rendering-apis) and in the `cypress.json` we have the root element configured as recommended.

Test example:
![image](https://user-images.githubusercont

[2022-05-15 13:29] tuky191 commented on #320
Hi,

had been struggling with same. I found the problem to be in resq module, utils.js/findReactInstance

[code]

That fixed it - at least for my current use case, though more tweaks could be needed. I haven't tested all features (like lookup) but i was at least able to find the elements from the vdom.

hope it helps,
Michal

[2022-05-19 14:40] alvarp commented on #320
Hi @tuky191, I have resq 1.10.2 and it doesn't have any utils.js file.

@abhinaba-ghosh, did you managed to use the library with React 18?

Thanks,
Àlvar.

[2022-05-20 04:25] tuky191 commented on #320
Hi @alvarp,

I forked baruchvlz/resq, tweaked the code a bit and rebuilt.

I really just needed it to 'work' for a proof of concept project I've been working on - My tests are passing on react18 but it's not finished yet.

Anyways feel free to take a look at the fork.
https://github.com/tuky191/resq

Michal

[2022-05-26 15:49] admah opened #324 "Update plugin to be compatible with Cypress 10"
Hello 👋 I'm writing on behalf of the Cypress DX team. We wanted to notify you that some changes may need to be made to this plugin to ensure that it works in Cypress 10.

For more information, here is our [official plugin update guide](https://cypressdx.notion.site/Cypress-10-Plugin-Update-Guide-7474129c5a3b4cc7b969d1934c5844a0).

[2022-05-27 05:48] GowriLakshmiDevarajan opened #325 "Could not find instance of React in given element"
I am getting this error while writing the cypress tests. I am using cypress code coverage. This is my test code.

describe("hello world text testing", () => {
  before(() => {
    cy.visit("/");
    cy.waitForReact(1000, "#root", "node_modules/resq/dist/index.js");
  });

  it("login test", () => {
    cy.react("Login");
  });
});

[2022-06-17 07:55] daniele-pini opened #339 "Functions react() and getReact() don't retry upcoming assertions"
### Summary

I can't make functions `react` and `getReact` wait for chained `should()` statements to complete successfully. To illustrate, try adding the following test to file `cypress/integration/calculator.spec.js` in this repo:
[code]
This test currently fails, but it should actually work fine.

### Why is this happening?

Cypress seems to consider a chain of "upcoming assertions" to be broken

[2022-06-17 09:45] daniele-pini opened #341 "Functions react() and getReact() - infinite retrying for failed upcoming assertions"
### Summary

The following code:
[code]

Will keep retrying the assertion without regard to the specified timeout

### Why is this happening?

Because retries checking only happens as long as the component being looked up is not found: https://github.com/abhinaba-ghosh/cypress-react-selector/blob/88b29a241467b9ddff584949391b9db1145039d0/src/reactHandler.js#L247-L258

Once the component is found th

[2022-06-17 10:48] daniele-pini commented on #341
@abhinaba-ghosh, I'm looking into this - I have a fix, just need to write a suitable test...

[2022-06-19 13:59] #341 closed

[2022-06-28 12:01] muratkeremozcan commented on #324
Ditto. We had to disable this plugin's commands for cy 10.

[2022-06-28 19:55] admah commented on #324
@abhinaba-ghosh I am working on a PR for this now.

[2022-07-10 16:09] #324 closed

[2022-07-10 16:16] abhinaba-ghosh commented on #324
Thanks for the awesome work @admah. The cypress 10 support is available in version `v3.0.0`

[2022-07-10 16:17] abhinaba-ghosh commented on #302
Closing for inactivitry.

Kindly open the ticket if the issue persists in the latest version.

[2022-07-10 16:17] #302 closed

[2022-07-10 16:17] abhinaba-ghosh commented on #122
Closing for inactivitry.

Kindly open the ticket if the issue persists in the latest version.

[2022-07-10 16:17] #122 closed

[2022-08-11 21:35] vf-dev opened #352 "Is it possible to get a component from a portal?"
I have a modal component into a portal (createPortal into React 18) so outside the DOM.
Is it possible to select the component?

[2022-08-15 07:05] ann-kilzer opened #355 "No "sourceType" field on TSConfig compiler options"
I notice the [README instructions](https://github.com/abhinaba-ghosh/cypress-react-selector#tsconfig-settings-for-types) suggest adding `"sourceType": "module"` to TSConfig `compilerOptions` but there is no such field: https://www.typescriptlang.org/tsconfig.

May I remove it? It makes Cypress pretty unhappy:
![e2e](https://user-images.githubusercontent.com/4602369/184591097-dbadb9fe-5028-4a8b-b33

[2022-09-13 23:26] hammeiam commented on #325
I'm also experiencing the same issue

[2022-09-23 21:12] hausdora opened #364 "Using getCurrentState"
When I run .getCurrentState I get back an object with two properties.  But I'm having trouble doing anything with them.

const state = cy.getReact("Comp").getCurrentState();
cy.log(state);
//logs: {hidden: false, context: Object{6}}

Nothing I'm trying works, how do I make assertions against the getCurrentState return?

[code]

```cy.getReact("Graphin").getCurrentState("context.cfg.states.active")

[2022-10-03 09:02] pegans commented on #325
I have the same issue after updating to `Cypress 10.7.0` and `cypress-react-selector 3.0.0`

[2022-10-05 09:30] jezaman commented on #325
Same Issue with React 18.
Is there any bug fix?
Is someone still maintaining this repository?
Seems like it was already reported months ago.

[2022-11-23 14:19] adrianflorinflorescu commented on #320
Hello! I have the same problem.

Is there any plan of updating this project to support react 18?

[2022-11-28 23:26] elylucas opened #384 "Cypress 12 Compatibility"
Greetings from the @cypress-io team. Cypress 12 is coming out next week, and some changes might affect your plugin. One of the big changes is introducing a new API to register custom commands, which helps fix one of the oldest and most annoying issues with Cypress, the [“Detached DOM”](https://github.com/cypress-io/cypress/issues/7306) error.

For commands that are classified as queries (mainly us